
{% load static %}
{% load i18n %}

{% blocktrans %}
Ein Elektrobus hat im Durchschnitt einen Verbrauch von 2 kWh/km. Bei einer Tagesfahrleistung von 200 km für jeden der Elektrobus auf der Linie 200 ergibt sich damit ein Energiebedarf von etwa 2.044.000 kWh. Dies entspricht dem jährlichen Energiebedarf von ca. 584 Dreipersonenhaushalten. Zum Vergleich: Der konventionell angetriebene Bus verbraucht etwa 480.340 Liter Diesel im Jahr. Umgerechnet auf die Energiemenge, entspricht das einem Mehrbedarf vom Faktor 2,3, denn Verbrennungsmotoren sind deutlich ineffizienter als Elektromotoren: Sie bringen weniger der hineingesteckten Energie „auf die Straße“.
{% endblocktrans %}

<img src="{% static 'images/questions/schedule.png' %}" alt="{% trans 'Bild eines E-Busses der Linie 300' %}">
