
{% load static %}
{% load i18n %}

{% blocktrans %}
Mehr dazu: Ein E-Bus hat im Durchschnitt einen Verbrauch von 2 kWh/km. Bei einer Tagesfahrleistung von 200 km für jeden der E-Busse auf der Linie 200 ergibt sich damit ein Energiebedarf von etwa 2.044.000 kWh. Dies entspricht dem jährlichen Energiebedarf von ca. 500 Drei-Personen-Haushalten. Zum Vergleich verbraucht der konventionell angetriebene Bus ca. 531.440 Liter Diesel, was einem äquivalenten Energiemehrbedarf vom Faktor 2,5 im Vergleich zum dem E-Bus entspricht. Dies begründet in der geringeren Effizienz von Diesel-Bussen.
{% endblocktrans %}

<img src="{% static 'images/questions/schedule.png' %}" alt="{% trans 'Bild eines E-Busses der Linie 300' %}">
