
{% load static %}
{% load i18n %}

{% blocktrans %}
Der Umstieg des Busverkehrs von Diesel- auf CO2-neutrale Busse als Maßnahme im Verkehr zur Erreichung der Klimaziele stellt die Verkehrsbetriebe vor große Herausforderungen. Die Einführung elektrischer Busse bedingt die Veränderung der Betriebsabläufe, da E-Busse noch nicht die Reichweite von Diesel-Bussen haben und aus diesem Grund entweder die Fahrpläne angepasst oder mehr Busse eingesetzt werden. Die Ladestrategie hat ebenfalls Einfluss, so müssen Depotlader einmal am Tag zurück ins Depot, um wieder aufzuladen. Auf der Linie 200 laden die Busse dagegen auf der Strecke. Potenziale für den Einsatz von Oberleitungsbussen oder auch der oft diskutierte Wasserstoff-Bus werden als weitere Alternativen im Forschungsprojekt untersucht.
{% endblocktrans %}
