
{% load static %}
{% load i18n %}

{% blocktrans %}
Der Umstieg des Busverkehrs von Diesel- auf lokal emissionsfreie und CO2-neutrale Busse als Maßnahme im Verkehr zur Erreichung der Luftreinhalte- und Klimaziele stellt die Verkehrsbetriebe vor große Herausforderungen. So stehen verschiedene lokal emissionsfreie Busse zur Verfügung, für die zuerst Infrastruktur aufgebaut werden muss.
Für den lokal emissionsfreien Betrieb kommen zuerst verschiedene Elektrobustypen im Mix (Depot- und Gelegenheitsladung) in Frage. Die Anwendung beider Technologien ist für Berlin sinnvoll, weil Depotlader-Busse am Flexibelsten sind, dafür aber eine begrenzte Reichweite haben. Gelegenheitslader wie auf der Linie 200 haben zwar eine nahezu unbegrenzte Reichweite durch die Nachladung auf der Strecke, sind jedoch von Ladeinfrastruktur im öffentlichen Raum abhängig. 
Weitere Alternativen wie Hybrid-Oberleitungsbusse werden derzeit untersucht. Diese Fahrzeuge laden während der Fahrt, benötigen aber relativ viel Infrastruktur. Auch Wasserstoffbrennstoffzellen-Busse wären lokal emissionsfrei und hätten eine relativ große Reichweite. Bevor diese zum Einsatz kommen können, sind jedoch Fragen zur grünen Produktion, Versorgung und Lagerung von Wasserstoff zu klären. Im Forschungsprojekt E-MetroBus wird die Anwendung unter Berücksichtigung dieser Fragestellungen untersucht. 
{% endblocktrans %}
