
{% load static %}
{% load i18n %}

{% blocktrans %}
Die Elektrobusse auf der Linie 200 haben eine Jahresfahrleistung von etwa 1.022 Mio. km und damit einen Energiebedarf von etwa 2.044.000 kWh. Ein einzelnes mittelgroßes Windrad (3 MW Klasse) generiert im Durchschnitt das Fünffache dieser Energiemenge pro Jahr.
{% endblocktrans %}
<div class="answer__source">
  {% trans 'Quellen' %}:
  <ul>
    <li><a href="https://de.wikipedia.org/wiki/Liste_von_Windkraftanlagen_in_Berlin_und_Brandenburg">{% trans 'Liste von Windkraftanlagen in Berlin und Brandenburg' %}</a></li>
    <li><a href="https://de.wikipedia.org/wiki/Liste_der_Windkraftanlagentypen_von_Enercon#E-115">{% 'Liste der Windkraftanlagentypen von Enercon' %}, #E-115 </a></li>
  </ul>
</div>
