
{% load static %}
{% load i18n %}

{% blocktrans %}
Wie bei vielen Technologien sind auch bei E-Bussen zu Beginn einer Marktdurchdringung die Fertigungszahlen gering und demnach die Stückkosten hoch. Mit zunehmender Serienfertigung können durch Skaleneffekte Preissenkungen erzielt werden. Langfristig stellt sich ein weiterer Preisvorteil ein: Elektrofahrzeuge, so auch E-Busse, sind in der Instandhaltung und den Betriebskosten deutlich günstiger, sodass in den nächsten Jahren trotz höherer Anschaffungskosten der Betrieb von E-Bussen gegenüber Dieselbussen wirtschaftlich sein wird.
{% endblocktrans %}
