{% load static %}

{% load i18n %}

{% blocktrans %}
Der Bus wird an den Endhaltestellen Hertzallee und Michelangelostraße mit einem Pantographen aufgeladen. Dieser ist in der Ladesäule integriert. Wenn der Bus unter der Ladesäule steht, wird der Pantograph heruntergefahren und verbindet sich mit den Schienen auf dem Dach des Busses. Geladen wird in wenigen Minuten mit 450 kW. Das entspricht der Leistung von etwa 225 Wasserkochern.
{% endblocktrans %}
<img src="{% static 'images/questions/pantograph.png' %}">
