{% load static %}

<div class="cell">
  <div class="grid-x">
    <div class="cell small- 11 medium-11 answer__text">
      Der Bus wird an den Endhaltestellen Hertzallee und Michelangelostraße mit einem Pantographen aufgeladen. Dieser ist in der Ladesäule integriert. Wenn der Bus unter der Ladesäule steht, wird der Pantograph heruntergefahren und verbindet sich mit den Schienen auf dem Dach des Busses. Geladen wird in wenigen Minuten mit 450 kW. Wird die Leistung mit einem handelsüblichen Wasserkocher verglichen (etwa 2 kW Leistung) entspricht die Ladeleistung 225 Wasserkochern.
    </div>
    <img src="{% static 'images/questions/pantograph.png' %}">
    <div class="cell text-center seemore">
      <a href="#show">Mehr lesen</a>
    </div>
  </div>
</div>
