{% load static %}

{% load i18n %}

<img src="{% static 'images/questions/loading.jpg' %}" alt="{% trans 'Bild einer Ladestation mit Pantograf' %}">

{% blocktrans %}
Ein Pantograph ist ein Stromabnehmer zur Übertragung der elektrischen Energie von der Ladestation in den Bus. Der Pantograph ist in der Ladestation integriert. Wenn der Bus an der richtigen Stelle steht, wird der Pantograph heruntergefahren und verbindet sich in wenigen Sekunden mit den Kontaktpunkten auf dem Dach des Busses. Geladen wird in wenigen Minuten mit bis zu 450 kW. Wird die Leistung mit einem handelsüblichen Wasserkocher verglichen (etwa 2 kW Leistung) entspricht die Ladeleistung 225 Wasserkochern.
{% endblocktrans %}
