#cat_fin_points {
  margin: 2rem 0 1rem;
}
#cat_fin_name {
  font-weight: bold;
  text-transform: uppercase;
}
.cat_fin {

  &__congrats {
    margin: 5rem 0 3rem;

    span {
      font-size: 1.9rem;
      font-weight: bold;
    }
  }
  &__text {
    font-size: 1.1rem;
  }
  &__icon {

    img {
    width: 9rem;
    }
  }

}
