button, button:hover, button:active, button:focus, button:visited, .button, .button:active, .button:focus, .button:hover, .button:visited {
	background-color: $secondary-color !important;
	color: $white;
	width: 12rem !important;
	height: 3.325rem;
	font-weight: 700;
  font-size: 1rem !important;
  border-radius: 100px !important;
  letter-spacing: .03rem;

	&.button--yellow {
		background-color: $primary-color-1 !important;
		color: $secondary-color;
  }
  
  &.button--white {
		background-color: $white !important;
		color: $secondary-color;
	}

	&.button--margin-small {
		margin-top: .25rem;
		margin-bottom: .25rem;
  }
  
  &.button--small {
    width: auto !important;
    min-width: 8rem;
    height: 2.75rem !important;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem !important;
    letter-spacing: .01rem;
  }

  &.button--question {
    width: 10rem !important;
  }

  &.button--xsmall {
    width: 6rem !important;
    padding-left: .25rem!important;
    padding-right: .25rem!important;
    height: 2.325rem !important;
    margin-bottom: 0;
  }
}

:focus {
	outline-width: 0!important;
}

$secondary-color: #252424;
$tab-border: 2px solid $white;
$tab-border-half: 1px solid $white;

.custom-tabs {

  ul.custom-tabs__tabs {
    padding: 1rem;
    border: none;
  }

  li {
    width: 50%;
    text-align: center;

    &:nth-child(1) a {
      border: $tab-border;
      border-bottom: $tab-border-half;
      border-right: $tab-border-half;
    }

    &:nth-child(2) a {
      border: $tab-border;
      border-bottom: $tab-border-half;
      border-left: $tab-border-half;
    }

    &:nth-child(3) a {
      border: $tab-border;
      border-top: $tab-border-half;
      border-right: $tab-border-half;
    }

    &:nth-child(4) a {
      border: $tab-border;
      border-top: $tab-border-half;
      border-left: $tab-border-half;
    }
  }

  li a {
    font-size: .875rem;
    letter-spacing: .01rem;
    font-weight: 700;
    padding: 1rem .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  li.tabs-title--100-width {
    width: 100%;

    a {
      border-right: $tab-border;
    }
  }

  .tabs-title > a {
    background-color: #EFEFEF;
    color: $secondary-color;
  }

  .tabs-title > a:focus,
  .tabs-title > a[aria-selected='true'] {
    background-color: $secondary-color;
    color: $white;
  }

  @media only screen and (min-width: 600px) {
    li {
      width: 25%;

      &:nth-child(1) a {
        border: $tab-border;
        border-right: $tab-border-half;
      }
  
      &:nth-child(2) a,
      &:nth-child(3) a {
        border: $tab-border;
        border-right: $tab-border-half;
        border-left: $tab-border-half;
      }
  
      &:nth-child(4) a {
        border: $tab-border;
        border-left: $tab-border-half;
      }
    }
  }

  .tabs-content {
    border: 0;
  }
}