#next button {
    margin-bottom: .5rem;
    margin-top: 1rem;
}

button.close-button {
	background-color: transparent !important;
	font-size: 2rem !important;
	width: 2.5rem !important;
	height: 2.5rem;
}

.data-source-button {
    &:focus {
        outline-color: transparent;
    }
    button,
    button:focus {
	    background-color: transparent !important;
        color: $gray-2;
        outline-color: transparent;
    }
}

.comparison-table {
    th {
        min-width: 200px;
    }
}