.comparison__wrap {
    justify-content: space-around;
    height: 100%;

    .comparison__btn--next {
        text-align: center;
    }
}

#next button {
    margin-bottom: .5rem;
    margin-top: 1rem;
}

button.close-button,
button.close-button:focus,
button.close-button:active,
button.close-button:hover {
	background-color: transparent !important;
	font-size: 2rem !important;
	width: 2.5rem !important;
	height: 2.5rem;
}

.data-source-button {
    &:focus {
        outline-color: transparent;
    }
    button,
    button:hover,
    button:active,
    button:focus {
        width: auto!important;
	    background-color: transparent !important;
        color: $gray-2;
        outline-color: transparent;
        cursor: pointer;
    }
    img {
        height: 1rem;
        width: 1rem;
        transform: translateY(-2px);
        padding-right: .25rem;
    }
}

.data__table {
    padding-bottom: 2.5rem;
}

.comparison-table {
    @media only screen and (max-width: 767px) {
        font-size: .875rem;
        letter-spacing: .01rem;
    }
    th {
        min-width: 80px;
    }
}

.data__source {
    color: $gray-4;
    font-size: .875rem;
    letter-spacing: .01rem;
    margin-right: .5rem;

    &--chart {
        margin-right: 0;
        padding: 1rem 1rem 2rem;
    }
}

.data__title {
    font-weight: 700;
    color: $gray-4;
    padding: 0 0 1rem;
}

@keyframes animateComparisonBtn {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.15, 1.15);
    }
    100% {
        transform: scale(1, 1);
    }
}

#animateComparisonBtn {
    animation: animateComparisonBtn;
    animation-delay: 2s;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
}

.comparison__btn--next {
    padding-top: 1rem;
    @media only screen and (min-height: 600px) {
        padding-top: 2rem;
    }
    @media only screen and (min-height: 700px) {
        padding-top: 3rem;
    }
    @media only screen and (min-height: 900px) {
        padding-top: 5rem;
    }
}

.comparison__chart {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (orientation: landscape) {
        height: auto;
    }
}
