.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    @media (orientation: landscape) {
      padding: 1rem 10vw;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }

    @media only screen and (min-width: 600px) {
      width: 60%!important;
      margin: 0 auto;
    }

  &__category {
    margin-bottom: .5rem;
    height: 10rem;
    position: relative;

    @media only screen and (min-height: 600px) {
      height: 11.5rem;
      margin-bottom: 2rem;
    }

    @media only screen and (min-height: 650px) {
      margin-top: 3vh;
      margin-bottom: 7vh;
    }

    a {
      display: inline-block;
      margin: 0 auto;
    }
  }

  &__img {
    height: 7rem;
    width: 7rem;
    border-radius: 1000px;
    background-color: $primary-color-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img img {
    display: block;
    margin: 0 auto;
    max-height: 4.5rem;
    max-width: 4.5rem;
  }

  @media only screen and (min-height: 600px) {
    &__img {
      height: 8.5rem;
      width: 8.5rem;
    }
  
    &__img img {
      max-height: 6rem;
      max-width: 6rem;
    }
  }

  &__header {
    font-weight: 700;
    letter-spacing: .03rem;

    @media only screen and (min-height: 600px) {
      margin-bottom: .25rem;
    }
  }
  &__info {
    position: absolute;
    top: 16rem;
    background-color: $secondary-color;
    color: $white;
    padding: 1rem 0;

    p {
      margin-right: 2.5rem;
      margin-left: 1rem;
      margin-bottom: 0;
      text-align: left;
    }
    button {
      color: $white;
    }
    button:hover {
      color: $white;
    }
  }
}
#close-button {
  color: $white;
  border: none;
  background: none;
}

.pattern-bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 4rem);
  background: url(../images/Dashboard_Pattern.svg);
  background-size: 12rem;

  @media only screen and (min-width: 600px) {
    background-size: 18rem;
  }

  @media (orientation: landscape) {
    display: none;
  }
}

.flash-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: .25rem;

  @media only screen and (min-height: 600px) {
    margin-top: .5rem;
  }

  .flash-icons__item {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (min-height: 600px) {
      height: 1.5rem;
      width: 1.5rem;
    }

    &--correct {
      background-image: url(../images/icons/i_flash_correct.svg);
    }
    &--wrong {
      background-image: url(../images/icons/i_flash_wrong.svg);
    }
    &--empty {
      background-image: url(../images/icons/i_flash_empty.svg);
    }
  }
}