.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    @media only screen and (min-width: 600px) {
      width: 60%!important;
      margin: 0 auto;
    }

  &__category {
    margin-bottom: 2rem;
    height: 10rem;
    position: relative;

    @media screen and (min-height: 650px) {
      margin-top: 3vh;
      margin-bottom: 7vh;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img img {
    height: 5rem;
  }

  &__header {
    transform: translateY(-.5rem);
    font-weight: 700;
  }
  &__info {
    position: absolute;
    top: 16rem;
    background-color: $secondary-color;
    color: $white;
    padding: 1rem 0;

    p {
      margin-right: 2.5rem;
      margin-left: 1rem;
      margin-bottom: 0;
      text-align: left;
    }
    button {
      color: $white;
    }
    button:hover {
      color: $white;
    }
  }
}
#close-button {
  color: $white;
  border: none;
  background: none;
}

.pattern-bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 4rem);
  background: url(../images/Dashboard_Pattern.svg);
  background-size: 12rem;

  @media only screen and (min-width: 600px) {
    background-size: 18rem;
  }
}