
.display-route {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  height: 100%; 
  background-color: $primary-color-1;

  &__start {
    padding-bottom: .5rem;
  }

  &__start,
  &__end {
    font-size: 1.35rem;

    @media screen and (max-width: 340px) {
      font-size: 1.25rem;
    }
  }

  &__wrap {
    position: relative;

    img {
      height: 3rem;
      margin-top: 6rem;
    }

    img.larger {
      height: 4.5rem;
      margin-top: 5.5rem;
    }
  }

  &__text,
  &__circle {
    margin: 0;
    position: absolute;
    width: 100%;
  }

  &__text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  &__circle {
    top: 20%;
  }

  &__number {
    padding-top: 1rem;
  }

  &__text {
    transform: translateY(-7vh);
    z-index: 2;
  }

  &__sentence {
    font-weight: 400;
    font-size: 1.35rem;
    padding: 0 4rem;

    @media (max-width: 360px) {
      font-size: 1.25rem;
    }

    span {
      font-weight: 700;
    }
  }

  &__number {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0 3rem;

    &--small {
      font-size: 1rem;
    }

    @media screen and ( min-width: 350px ) {
      font-size: 3rem;

      &--small {
        font-size: 1.25rem;
      }
    }
  }
}

#onboardingAnimateRoute {
  padding-top: 3rem;
}

#onboardingAnimateIcons {
  padding-top: 5rem;
  height: 3rem;

  img {
    height: 3rem;
  }
}

.display-route__grid {
  height: 100%;
}

.display-route__stations {
  height: 100%;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  z-index: 99999;
  height: 100%;

  &--previous {
    left: 0;
  }
  &--next {
    right: 0;
  }

  img {
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2rem;
  }

  &--previous img {
    left: .5rem;
  }

  &--next img {
    right: .5rem;
  }
}

.onboarding-icon {
  margin-top: 1.5rem;

  img {
    height: 2rem;
  }
}

.display-route__bg {
  background-color: $primary-color-1; 
  position: absolute;
  top: 0;
  height: 100%; 
  width: 100%; 
  z-index: -1;
}

// Animations

#display-route-line {
  animation: display-route-line-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: .5s;
}

#display-route-start {
  animation: display-route-start-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: .85s;
}

#display-route-end {
  animation: display-route-end-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}

.display-route-number {
  animation: display-route-number-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.display-route-small-number {
  animation: display-route-small-number-animation 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: .45s;
}

@keyframes display-route-line-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display-route-start-animation {
  0% {
    opacity: 0;
    letter-spacing: -.5rem;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes display-route-end-animation {
  0% {
    opacity: 0;
    letter-spacing: -.5rem;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes display-route-number-animation {
  0% {
    opacity: 0;
    letter-spacing: -.5rem;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes display-route-small-number-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}