.display__layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  background-color: $primary-color-1;
}

.display__section {
  width: 100%;

  @media screen and (min-height: 650px) {
    padding: .5rem 0;
  }
}

.display-route {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  height: 100%; 
  background-color: $primary-color-1;

  @media (orientation: landscape) {
    top: 40%;
  }

  &__start {
    padding-bottom: .5rem;
  }

  &__start,
  &__end {
    font-size: 1.35rem;

    @media only screen and (max-width: 340px) {
      font-size: 1.25rem;
    }
  }

  &__img {
    padding-left: .75rem;
    img {
      vertical-align: middle;
      height: 100%;
    }
  }

  &__wrap {
    position: relative;
    padding-right: .5rem;

    img {
      margin-left: auto;
      margin-right: auto;
      height: 1rem;
      margin-top: 2rem;
    }

    img.larger {
      height: 4.5rem;
      margin-top: 5.5rem;
    }
  }

  &__text {
    margin: 0;
    width: 100%;
    @media screen and (min-width: 400px) {
      padding-left: .5rem;
    }
  }

  &__number {
    padding-top: 1rem;
  }

  &__text {
    @media only screen and (orientation: landscape) {
      p {
        margin-bottom: 0;
      }
    }
  }

  &__sentence,
  &__upper-sentence {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: auto;
    padding: 0 1rem;

    span {
      font-weight: 700;
    }

    span.display-route__comparison {
      font-weight: 400;

      @media screen and (min-height: 600px) {
        display: block;
      }
    }
  }

  &__upper-sentence {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
  }

  &__number {
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    padding: 0 .25rem;

    @media screen and (max-height: 599px) {
      font-size: 1.25rem;
      padding: 0;
    }

    &--small {
      font-size: 1rem;
    }
  }
}

.display__chart {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.display__quiz {
  padding-bottom: 1.5rem;
}

.display__chart,
.display__quiz {
  background-color: $primary-color-1;
  width: 100%;
  text-align: center;
}

.display__chart a,
.display__chart a:hover,
.display__chart a:focus,
.display__chart a:active,
.display__chart a:visited {
  color: $secondary-color;
  font-weight: 700;

  &::before {
    background-image :url('../images/icons/i_next_black_large.svg');
    display: inline-block;
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    transform: translateY(2px) translateX(-4px);
    position:relative;
    content: "";
  }
}

.display-route__grid {
  height: 100%;
}

.display-route__stations {
  height: 100%;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  z-index: 99999;
  height: 100%;

  &--previous {
    left: 0;
  }
  &--next {
    right: 0;
  }

  img {
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2rem;
  }

  &--previous img {
    left: .5rem;
  }

  &--next img {
    right: .5rem;
  }
}

.display-route__bg {
  background-color: $primary-color-1; 
  position: absolute;
  top: 0;
  height: 100%; 
  width: 100%; 
  z-index: -1;
}

// Animations

/*
#display-route-line {
  animation: display-route-opacity 0.5s $cubic-bezier-route .5s both;
}

#display-route-start {
  animation: display-route-start-animation 0.5s $cubic-bezier-route .85s both;
}

#display-route-end {
  animation: display-route-end-animation 0.5s $cubic-bezier-route 1s both;
}

.display-route-number {
  animation: display-route-number-animation 0.5s $cubic-bezier-route both;
}

.display-route-small-number {
  animation: display-route-opacity 0.85s $cubic-bezier-route .45s both;
}

@keyframes display-route-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display-route-start-animation {
  0% {
    opacity: 0;
    letter-spacing: -.5rem;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes display-route-end-animation {
  0% {
    opacity: 0;
    letter-spacing: -.5rem;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes display-route-number-animation {
  0% {
    opacity: 0;
    letter-spacing: -.5rem;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*/