.my-route .grid-x {
  padding: 1rem;
  font-size: .875rem;
  letter-spacing: .01rem;

  .my-route__text {
    display: table-cell;
    vertical-align: baseline;
    font-weight: 700;
  }

  .my-route__icon {
    text-align: center;

    img {
      height: 2.5rem;
      transform: translateY(5px);
    }
  }

  .my-route__stations {
    padding-left: .5rem;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $gray-4;

      &.my-route__station--0 {
        padding-bottom: .5rem;
      }
    }
  }

  .my-route__change {
    text-align: right;
    a {
      color: $secondary-color;
      font-weight: 700;
    }
  }

  .separator {
    padding: 1.75rem 1rem 0;
    border-bottom: 1px solid $gray-1;
  }
}

.my-route__route {
  @media only screen and (orientation: landscape) {
    padding: 1rem 10vw;
  }
}

.my-route-heading-wrap {
  padding: 1rem;

  @media only screen and (orientation: landscape) {
    padding: 1rem 10vw;
  }

  .my-route-heading {
    background-color: $primary-color-1;
    border-radius: $border-radius;
    padding: 2rem 1rem;
    width: 100%;
    text-align: center;
    font-weight: 700;

    &--small {
      padding-top: 1rem;
      display: block;
      font-size: .875rem;
      font-weight: 400;
      opacity: .6;
    }
  }
}

.my-route-tabs {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .tabs {
    border: none;
  }

  .tabs-title {
    text-align: center;
    border-radius: 100px;

    div {
      border-radius: 100px;
      margin: 2px;
      background-color: $gray-1;
      padding: .5rem .5rem;
      font-size: .875rem;
      letter-spacing: .01rem;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &--25 {
      width: 25%;
    }
    &--30 {
      width: 30%;
    }
    &--40 {
      width: 40%;
    }
    &--50 {
      width: 50%;
      padding-top: .125rem;
    }
    &--emissions.active div {
      background-color: $secondary-color;
      color: $white;
    }
    &--bus.active div {
      background-color: $gray-4;
      color: $white;
    }
  }
}

.my-route__chart {
  margin-bottom: 1rem;
  height: 55vh;

  @media (orientation: landscape) {
    height: 100vh;
  }
}

.loader {
  border: .75rem solid $gray-1;
  border-top: .75rem solid $primary-color-1;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem auto 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.a-environment-frame {
  animation: a-environment-frame 1.5s $cubic-bezier-ease-out both;
}
.a-environment-route {
  animation: a-environment-fade-in 1s $cubic-bezier-ease-in .5s both;
}
.a-environment-tabs {
  animation: a-environment-fade-in 1s $cubic-bezier-ease-in .65s both;
}

@keyframes a-environment-frame {
  0% {
    transform: translateY(-100rem);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes a-environment-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}