#feedback {
  padding-bottom: 2.5rem;
}

.feedback {
  position: relative;
  top: -1rem;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2.5rem;

  @media screen and (max-width: 767px) {
    font-size: .8rem;
    letter-spacing: .01rem;
  }

  .feedback__form {
    width: 100%;
    
    label {
      color: $gray-4;
      @media screen and (max-width: 767px) {
        font-size: .8rem;
        letter-spacing: .01rem;
      }
    }
  }

  &__quest {
    margin: 0 0 2rem;

    @include breakpoint(medium only) {
      margin-left: 0;
    }

    &--text {
      @include breakpoint(medium only) {
        text-align: center;
      }
    }

    &--stars {

      img {
        width: 2rem;
        margin-left: .2rem;
      }
      @include breakpoint (medium only) {
        text-align: center;
        img {
          text-align: center;
        }
      }
    }
    &--critic {

      textarea {
        @include breakpoint(medium only) {
          margin: 0 auto;
        }
      }
    }
  }
  &__btn {
    margin-top: 0.5rem;

    @include breakpoint(medium only) {
      margin-top: 2rem;
    }

    &--skip {
      margin: 0;
      text-align: center;

      button {
        color: $gray-2;
        background-color: rgba(255,255,255,0)!important;
        text-align: center;
      }
    }
  }

  label {
    font-size: 1rem;

    @include breakpoint(medium only) {
      text-align: center;
    }
  }
}

.bug__question p {
  margin-top: 1rem;
  @media screen and (max-width: 767px) {
    font-size: .8rem;
    letter-spacing: .01rem;
  }
}

.bug__form {
  padding-top: 1rem;
  padding-bottom: 8rem;

  select {
    background-image: none;
  }

  .feedback__form {
    label,
    select,
    textarea {
      @media screen and (max-width: 767px) {
        font-size: .8rem;
        letter-spacing: .01rem;
      }
    }
  }
  @media screen and (max-width: 767px) {
    font-size: .8rem;
    letter-spacing: .01rem;
  }
}

#bug_reveal {
  padding-top: 3rem;
}

a.feedback__bug-link,
a.feedback__bug-link:link,
a.feedback__bug-link:hover,
a.feedback__bug-link:active,
a.feedback__bug-link:visited,
a.feedback__bug-link:focus {
  color: #252424;
}

a.feedback__bug-link {
  display: block;
  padding-top: 1.75rem;
  font-weight: 700;

  img {
    height: .8rem;
    letter-spacing: .01rem;
    transform: translateY(-1px);
    padding-right: .25rem;
  }
}