.feedback {

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;

  &__form {
    width: 100%;
  }

  &__quest {
    margin: 0 0 2rem;

    @include breakpoint(medium only) {
      margin-left: 0;
    }

    &--text {
      @include breakpoint(medium only) {
        text-align: center;
      }
    }

    &--stars {

      img {
        width: 2rem;
        margin-left: .2rem;
      }
      @include breakpoint (medium only) {
        text-align: center;
        img {
          text-align: center;
        }
      }
    }
    &--critic {

      textarea {
        @include breakpoint(medium only) {
          margin: 0 auto;
        }
      }
    }
  }
  &__btn {
    margin-top: 0.5rem;

    @include breakpoint(medium only) {
      margin-top: 2rem;
    }

    &--skip {
      margin: 0;
      text-align: center;

      button {
        color: $gray-2;
        background-color: rgba(255,255,255,0)!important;
        text-align: center;
      }
    }
  }

  label {
    font-size: 1rem;

    @include breakpoint(medium only) {
      text-align: center;
    }
  }
}
