$footer-height: 3.8rem;

section.footer {
	height: $footer-height;
  	bottom: 0;
	width: 100%;
	background-color: $gray-1;
	border-top: 1px solid $white;

	z-index: 9999999999; // fix horizontal scroll-bar from data table on info page overlapping footer

	.footer__item {
	  box-sizing: border-box;
	  border-right: 1px solid $gray-1;

	  &:last-child {
		border-right: none;
	  }

	  .footer__item-wrap {
		  display: flex;
		  flex-direction: column;
	  }

	  .footer__item--selected {
		  color: $gray-2;
	  }

	  .footer__item--not-selected {
		color: $secondary-color;
	}

	  img {
		display: block;
		width: 1.55rem;
		vertical-align: sub;
		margin: 0 auto;
		transform: translateY(10px);
	  }

	  span {
		display: block;
		font-size: .75rem;
		transform: translateY(-9px);

		@media screen and (max-width: 340px) {
			font-size: .7rem;
		}
	  }
	}
	.footer__item-wrap {
	  	width: 100%;
	  	height: $footer-height;
    	text-align: center;
    	line-height: $footer-height;
  }
  .footer__item {
    &--selected {
      background-color: $secondary-color;
    }
    &--not-selected {
      background-color: $gray-1;
    }
  }
}
