@keyframes fadein {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100%   { opacity: 1; }
}
.landpage {

  padding-bottom: 10rem;

    &__logo {
    margin: 1rem 0;
    img {
      height: 5rem;
    }
    &--embus {
      margin: 3rem 0 2rem;
      animation: fadein 1.5s;

      @media (max-height: 670px) {
        margin: 1rem 0 1.5rem;
      }
      @media (min-height: 750px) {
        margin: 5.5rem 0 2rem;
      }
      img {
        height: 4.5rem;
      }
    }
    &--bvg {
      animation: fadein 2.5s ;
    }
    &--tu {
      animation: fadein 4s;
    }
    &--rli {
      animation: fadein 5s;
    }

  }
  &__bottom {
    animation: fadein 6s;
    background-color: $primary-color-1;
    padding: 1rem;
    position: fixed;
    bottom: 0;

    span {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.85rem;
    }
    button {
      animation: fadein 6.5s;
      margin: 1rem 0;
      background-color: $secondary-color;
      width: 15rem;
      margin-bottom: 0;

      span {
        font-size: 1.1rem;
      }
    }
  }
}

// CSS for desktop only
.desktop {

  &__header {
    padding-top: 2rem;
  }
  &__subheader {
    color: #8d8d8d;
  }
  &__img {
    padding-top: 5rem;
  }
  &__text {
    padding-top: 5rem;
    font-size: 1.5rem;
  }
  &__img img {
    height: 5rem;
  }
  &__footer .grid-x {
    border-top: 1px solid #c7c7c7;
    padding-top: 1.5rem;
  }
  &__logo {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
  }
  &__logo img {
    width: 8rem;
  }
}
