@keyframes fadein {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100%   { opacity: 1; }
}
.landpage {

  padding-bottom: 10rem;

    &__logo {
    margin: 6.5rem 0;

    &--embus {
      margin-top: 6vh;
      margin-bottom: 7vh;
      animation: fadein 2s;

      @media screen and (min-height: 700px) {
        margin-top: 7vh;
        margin-bottom: 10vh;
      }

      img {
        width: 70%;

        @media screen and (min-width: 400px) {
          width: 60%;
        }
      }
    }
    &--bvg {
      animation: fadein 4s ;
      img {
        width: 11vh;
      }
    }
    &--tu {
      animation: fadein 4s;
      img {
        margin-top: 0.3rem;
        width: 13vh;
      }
    }
    &--rli {
      animation: fadein 4s;
      img {
        margin-top: 0.5rem;
        width: 11vh;
      }
    }
  }
  &__bottom {
    animation: fadein 6s;
    background-color: $primary-color-1;
    padding: 1rem;
    position: fixed;
    bottom: 0;

    span {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.85rem;
    }
    button {
      animation: fadein 6.5s;
      margin: 1rem 0;
      background-color: $secondary-color;
      width: 15rem;
      margin-bottom: 0;

      span {
        font-size: 1.1rem;
      }
    }
  }
}

// CSS for desktop only
.desktop {

  &__header {
    padding-top: 2rem;
  }
  &__subheader {
    color: #8d8d8d;
  }
  &__img {
    padding-top: 5rem;
  }
  &__text {
    padding-top: 5rem;
    font-size: 1.5rem;
  }
  &__img img {
    height: 5rem;
  }
  &__footer .grid-x {
    border-top: 1px solid #c7c7c7;
    padding-top: 1.5rem;
  }
  &__logo {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
  }
  &__logo img {
    width: 8rem;
  }
}

// CSS for Landscape only
@media only screen and (min-width: 1024px) {
  .landscape {
    visibility: hidden;
  }
}
@media only screen
and (max-width: 1024px)
and (orientation: landscape) {

  .landscape {

    &__header {
      padding-top: 1rem;
    }
    &__subheader {
      color: #8d8d8d;
    }
    &__img {
      padding-top: 2.5rem;
    }
    &__text {
      padding-top: 2.5rem;
      font-size: 1.5rem;
    }
    &__img img {
      height: 3rem;
    }
  }
}
@media only screen and (min-height: 370px)
and (max-height: 450px)
and (max-width: 1024px)
and (orientation: landscape) {
  .landscape {

    &__header {
      padding-top: 2rem;
    }
  }
}
@media only screen and (min-height: 450px)
and (max-height: 580px)
and (max-width: 1024px)
and (orientation: landscape) {
  .landscape {

    &__header {
      padding-top: 4rem;
    }
  }
}
@media only screen and (min-height: 580px)
and (max-width: 1024px)
and (orientation: landscape) {
  .landscape {

    &__header {
      padding-top: 9rem;
    }
  }
}
