.a-lp-bus {
  animation: a-lp-bus 1.5s $cubic-bezier-ease-out both;
}

@keyframes fadein {
  0% {opacity: 0;}
  100%   { opacity: 1; }
}

@keyframes a-lp-bus {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes a-lp-btn {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.landpage__bus {
  margin-top: 2rem;
  text-align: center;
  img {
    height: 2.5rem;
  }
}

@media only screen and (max-height: 666px) {
  .landpage__bus {
    margin-top: 1rem;
    text-align: center;
    img {
      height: 1.5rem;
    }
  }
}

.landpage {
  height: 100%;
  margin: 1.5rem 1rem 0;

  @media only screen and (min-height: 667px) {
    margin: 15% 1rem 0;
  }

  @media only screen and (min-height: 800px) {
    margin: 20% 1rem 0;
  }

    &__logo {
    margin: .25rem 0;

    @media only screen and (max-height: 600px) {
      margin: .25rem 0;
    }
    @media only screen and (max-height: 640px) {
      margin-bottom: .35rem;
    }
    &--bvg {
      animation: fadein 2s;
      animation-delay: 2.15s;
      animation-fill-mode: backwards;
      img {
        max-width: 2.75rem;
      }
    }
    &--tu {
      animation: fadein 2s;
      animation-delay: 2.3s;
      animation-fill-mode: backwards;
      img {
        margin-top: 0.3rem;
        max-width: 3.25rem;
      }
    }
    &--rli {
      animation: fadein 2s;
      animation-delay: 2.45s;
      animation-fill-mode: backwards;
      img {
        margin-top: 0.5rem;
        max-width: 3.25rem;
      }
    }
    &--bmwi {
      animation: fadein 2s;
      animation-delay: 2.45s;
      animation-fill-mode: backwards;
      img {
        width: 100%;
        max-width: 22rem;
      }
    }
  }

  .a-lp-btn {
    animation: a-lp-btn .75s $cubic-bezier-ease-out 1s both;
  }

  &__button {
    .frame {
      background-color: $primary-color-1;
      padding: 2rem 1rem;
      border-radius: 1rem;
    }

    &-text span {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.85rem;
    }
    &-btn {
      margin: 1rem 0;

      button {
        margin-bottom: 0;
      }
    }
  }

  &__language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &--switch {
      animation: fadein 1.5s;
      animation-fill-mode: backwards;
      animation-delay: 2.6s;
      a {
        display: flex;
        flex-direction: row;
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
      img {
        display: inline-block;
        height: 1.25rem;
        margin: 0 0.5rem 0 0;
      }
      p {
        display: inline-block;
        vertical-align: middle;
        color: $secondary-color;
        font-size: .875rem;
        letter-spacing: .01rem;
        white-space: nowrap;
        margin-bottom: 0;
      }
    }
    &--popup {
      position: absolute;
      top: 16rem;
      background-color: $white;
      padding: 1rem 0;

      span {
        color: $gray-2;
      }
      p {
      margin-right: 2.5rem;
      margin-left: 1rem;
      margin-bottom: 0;
      text-align: left;
      }
      img {
        height: 1.5rem;
        margin: 1rem;
      }
    }
  }
  &__text {
    font-size: .64rem;
    text-align: left;
    padding: 0 .5rem;
    color: $gray-4;
    animation: fadein 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

    p {
      text-align: center;
    }

    @media (orientation: landscape) and (max-width: 1023px) {
      padding-top: 2rem;
    }
  }
  &__bottom {
    padding: 0 .5rem 0;
    position: fixed;
    bottom: 0;

    @media (orientation: landscape) and (max-width: 1023px) {
      position: relative;
    }
  }
}
#language_popup {
  height: 10rem;
}
#language_close {
color: $secondary-color;
border: none;
background: none;
}

// CSS for desktop LP and mobile SUMMARY
$desktop-padding-large: 9rem;
$desktop-padding-medium: 4.5rem;
$desktop-padding-small: 2.25rem;
$desktop-padding-xsmall: 1.125rem;
$desktop-padding-xxsmall: .6rem;

@mixin yellow-card($padding) {
  background-color: $primary-color-1;
  border-radius: $border-radius;
  padding: $padding;
  text-align: center;
}

.grid-x.grid-width--large {
  width: 100%;
  max-width: 75rem;
  padding-right: $desktop-padding-xsmall;
  padding-left: $desktop-padding-xsmall;
}

.grid-x.grid-width--100 {
  width: 100%;
}

.desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: $desktop-padding-small;

  @media only screen and (min-width: 640px) {
    margin-bottom: $desktop-padding-medium;
  }

  @media only screen and (min-width: 1024px) {
    margin-bottom: $desktop-padding-large;
  }
}

.desktop-header {
  padding-top: $desktop-padding-small;
  @media only screen and (min-width: 1024px) {
    padding-top: $desktop-padding-medium;
  }
  @media only screen and (orientation: landscape) and (max-width: 1023px) {
    padding: 1rem 5vw;
  }

  & > div {
    position: relative;
  }

  .language-flag {
    position: absolute;
    text-align: left;
    top: 0;
    right: 0;
    width: 8rem;

    a, a:link, a:hover, a:visited, a:active, a:focus {
      color: $secondary-color;
    }

    img {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
    }

    span {
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      padding-left: .25rem;
      transform: translateY(2px);
    }
  }

  &__frame {
    @include yellow-card(1rem);
    @media only screen and (min-width: 640px) {
      @include yellow-card($desktop-padding-small);
    }
    @media only screen and (min-width: 1024px) {
      @include yellow-card($desktop-padding-medium);
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    @media only screen and (min-width: 1024px) {
      font-size: 3rem;
    }
  }

  span {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    @media only screen and (min-width: 1024px) {
      font-size: 2rem;
    }
  }
}

.desktop-app { 

  @media only screen and (max-width: 639px) {
    display: none;
  }

  .desktop-app__img  {
    @media only screen and (min-width: 640px) and (max-width: 1023px) {
      text-align: center;
      img {
        height: 30rem;
      }
    }
  }
  
  .desktop-app__text {
    padding-top: $desktop-padding-medium;
    @media only screen and (min-width: 1024px) {
      padding-top: 0;
      padding-left: $desktop-padding-medium;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .heading {

      h2 {
        line-height: 3.25rem;
        font-weight: 700;
        text-align: center;
        padding-bottom: $desktop-padding-small;
        font-size: 1.55rem;

        @media screen and (min-width: 1024px) {
          text-align: left;
          padding-bottom: $desktop-padding-medium;
        }
      }

      h2 .heading--highlight {
        white-space: nowrap;
        font-weight: 700;
        color: $white;
        background-color: $secondary-color;
        padding: .75rem;
        line-height: 2.75rem;
      }
      h2 .heading--bold {
        text-decoration: underline;
        white-space: nowrap;
      }
    }

    .benefits {
      position: relative;
      p {
        font-size: 1.25rem;
        line-height: 2rem;
        text-align: left;
        margin-bottom: $desktop-padding-small;
        padding-left: 3rem;
      }
      .icons::before {
        content: '';
        background-size: 2rem 2rem;
        position: absolute;
        width: 2rem;
        height: 2rem;
        left: 0;
      }
      .icons--1::before {
        background-image: url(../images/icons/i_quiz_black.svg);
      }
      .icons--2::before {
        background-image: url(../images/icons/i_pin_black.svg);
      }
      .icons--3::before {
        background-image: url(../images/icons/i_flash_black.svg);
      }

      @media only screen and (min-width: 1024px) {
        font-size: 1.25rem;
        line-height: 1.875rem;
        width: 80%;
      }
    }
  }
}

.desktop-project {

  &__heading {
    padding-bottom: $desktop-padding-xsmall;
    @media only screen and (min-width: 1024px) {
      padding-bottom: $desktop-padding-medium;
    }

    h2 {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      @media only screen and (min-width: 1024px) {
        font-size: 1.55rem;
      }
    }
  }

  &__item {
    padding-bottom: $desktop-padding-xsmall;

    @media only screen and (min-width: 1024px) {
      padding-bottom: $desktop-padding-medium;

      &:nth-of-type(2n) {
        padding-right: $desktop-padding-small;
      }
  
      &:nth-of-type(2n-1) {
        padding-left: $desktop-padding-small;
      }
  
      &:nth-last-of-type(-n+2) {
        padding-bottom: 0;
      }
    }

    & > div {
      display: flex;
      flex-direction: row;
      justify-content: left;
      font-size: 1rem;
      padding-bottom: $desktop-padding-xxsmall;
      @media only screen and (min-width: 1024px) {
        padding-bottom: $desktop-padding-xsmall;
      }
    }
    .icon {
      height: 2rem;
      width: 2rem;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @media only screen and (min-width: 1024px) {
        height: 3.25rem;
        width: 3.25rem;
      }
    }
    .icon--1 {
      background-image: url(../images/icons/i_time_black_line.svg);
    }
    .icon--2 {
      background-image: url(../images/icons/i_government_black_line_v2.svg);
    }
    .icon--3 {
      background-image: url(../images/icons/i_ebus_black_line_v2.svg);
    }
    .icon--4 {
      background-image: url(../images/icons/i_electricity_black_line_v2.svg);
    }
    .heading {
      display: inline-block;
      padding-left: $desktop-padding-xxsmall;
    }
    .heading h3 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 2rem;

      @media only screen and (min-width: 1024px) {
        font-size: 1.25rem;
        line-height: 3.25rem;
      }
    }
  }
}

.desktop-partners {
  &__heading {
    padding-bottom: $desktop-padding-xsmall;

    @media only screen and (min-width: 1024px) {
      padding-bottom: $desktop-padding-medium;
    }

    h2 {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      @media only screen and (min-width: 1024px) {
        font-size: 1.55rem;
      }
    }
  }

  &__item {
    padding-bottom: $desktop-padding-small;
    @media only screen and (min-width: 1024px) {
      padding-bottom: $desktop-padding-medium;
    }

    .desktop-partners__logo {
      text-align: center;
      padding-bottom: $desktop-padding-xsmall;
      @media only screen and (min-width: 1024px) {
        padding-bottom: $desktop-padding-small;
      }

      &--BVG img {
        height: 5rem;
      }

      &--RLI img {
        height: 4rem;
      }

      &--TUB img {
        height: 4rem;
      }
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.desktop-contact {
  padding-bottom: $desktop-padding-small;

  @media only screen and (min-width: 1024px) {
    padding-bottom: 0;
  }

  &__frame {
    @include yellow-card(1rem);
    @media only screen and (min-width: 640px) {
      @include yellow-card($desktop-padding-small);
    }
    @media only screen and (min-width: 1024px) {
      @include yellow-card($desktop-padding-small);
    }

    p {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}

.desktop-img {
  height: 12rem;
  width: 100%;

  @media only screen and (min-width: 1024px) {
    height: 30rem;
  }
  
  .img {
    width: 100%;
    background-image: url(../images/E_bus_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.desktop-footer {
  margin-bottom: $desktop-padding-medium;

  .cell {
    text-align: center;
  }

  ul {
    li {
      display: inline-block;
    }
    a, a:link, a:hover, a:visited, a:active, a:focus {
      color: $secondary-color;
      font-weight: 700;
      font-size: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}


.desktop__top-right {
  position: relative;

  .desktop__lang {
    position: absolute;
    height: 2rem;
    top: 1.5rem;
    right: 0;

    img {
      height: 1.25rem;
      transform: translateY(-2px);
    }

    span {
      color: $secondary-color;
      font-size: 1rem;
      padding-left: .5rem;
      font-weight: 700;
    }
  }
}

.privacypop {
  position: absolute;
  width: 100%;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  background-color: rgba(37, 36, 36, .8);
  color: $white;
  font-size: .85rem;
  z-index: 999;

  #pricacyButton {
    padding: .25rem;
    background-color: $primary-color-2;
  }
}

// Animating destkop LP

.animate-desktop {
  opacity: 0;
}

.a-desktop.a-desktop--frame {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in both;
}

.a-desktop.a-desktop--header {
  animation: desktop-animation-bottom 1.25s $cubic-bezier-ease-out .5s both;
}

.a-desktop.a-desktop--subheader {
  animation: desktop-animation-bottom 1.25s $cubic-bezier-ease-out 1s both;
}

.a-desktop.a-desktop--lang {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in 1.25s both;
}

.a-desktop.a-desktop--device {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in 1.75s both;
}

.a-desktop.a-desktop--app-heading {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in 2s both;
}

.a-desktop.a-desktop--app-icons {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in 2.25s both;
}

.a-desktop.a-desktop--app-text {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in 2.5s both;
}


.animate-desktop.animate-desktop--bottom {
  animation: desktop-animation-bottom 1.25s $cubic-bezier-ease-out 1.75s both;
}
.animate-desktop.animate-desktop--bottom.triggeredCSS3 {
  animation: desktop-animation-bottom 1.25s $cubic-bezier-ease-out .25s both;
}

.animate-desktop.animate-desktop--left {
  animation: desktop-animation-left 1.25s $cubic-bezier-ease-out 2s both;
}
.animate-desktop.animate-desktop--left.triggeredCSS3 {
  animation: desktop-animation-left 1.25s $cubic-bezier-ease-out .25s both;
}

.animate-desktop.animate-desktop--right {
  animation: desktop-animation-right 1.25s $cubic-bezier-ease-out 2s both;
}
.animate-desktop.animate-desktop--right.triggeredCSS3 {
  animation: desktop-animation-right 1.25s $cubic-bezier-ease-out .25s both;
}

.animate-desktop.animate-desktop--opacity {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in 2s both;
}
.animate-desktop.animate-desktop--opacity.triggeredCSS3 {
  animation: desktop-animation-opacity 1.25s $cubic-bezier-ease-in .25s both;
}

.summary--mobile { // hinder animation on mobile summary page
  .a-desktop.a-desktop--frame,
  .a-desktop.a-desktop--header,
  .a-desktop.a-desktop--subheader,
  .a-desktop.a-desktop--lang,
  .a-desktop.a-desktop--device,
  .a-desktop.a-desktop--app-heading,
  .a-desktop.a-desktop--app-icons,
  .a-desktop.a-desktop--app-text,
  .animate-desktop.animate-desktop--bottom,
  .animate-desktop.animate-desktop--left,
  .animate-desktop.animate-desktop--right,
  .animate-desktop.animate-desktop--opacity,
  .animate-desktop.animate-desktop--bottom.triggeredCSS3,
  .animate-desktop.animate-desktop--left.triggeredCSS3,
  .animate-desktop.animate-desktop--right.triggeredCSS3,
  .animate-desktop.animate-desktop--opacity.triggeredCSS3 {
    animation: none;
  }
  .animate-desktop {
    opacity: 1;
  }
}

@keyframes desktop-animation-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desktop-animation-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes desktop-animation-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes desktop-animation-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}