.landpage {

  padding-bottom: 10rem;


    &__logo {
    margin: 1rem 0;

    img {
      height: 5rem;
    }

    &--embus {
      margin: 3rem 0 2rem;
      @media (max-height: 670px) {
        margin: 1rem 0 2rem;
      }
      @media (min-height: 750px) {
        margin: 6rem 0 2rem;
      }
      img {
        height: 4.5rem;
      }
    }
  }
  &__bottom {
    background-color: $primary-color-1;
    padding: 1rem;
    position: fixed;
    bottom: 0;

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
    button {
      margin: 1rem 0;
      background-color: $secondary-color;
      width: 15rem;

      span {
        font-size: 1.1rem;
      }
    }
  }
}


// CSS for desktop only
.desktop {

  &__header {
    padding-top: 2rem;
  }
  &__subheader {
    color: #8d8d8d;
  }
  &__img {
    padding-top: 5rem;
  }
  &__text {
    padding-top: 5rem;
    font-size: 1.5rem;
  }
  &__img img {
    height: 5rem;
  }
  &__footer .grid-x {
    border-top: 1px solid #c7c7c7;
    padding-top: 1.5rem;
  }
  &__logo {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
  }
  &__logo img {
    width: 8rem;
  }
}
