$top-bar-height: 2.8rem;

.grid-container {
	overflow: hidden;
}

.l-scroll,
.l-no-scroll {
	position: relative;
	height: 100%;
}

.l-no-scroll {
	overflow: hidden;
}

.l-scroll--nonav {
	.top-bar,
	.footer {
		display: none;
	}
	.main-content {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.l-scroll--nav {
	.top-bar,
	.footer {
		position: fixed;
	}
	.main-content {
		margin-top: $top-bar-height;
		margin-bottom: $footer-height;
	}
}

.l-no-scroll--nav {
	.top-bar,
	.footer {
		position: fixed;
	}
	.main-content {
		margin-top: $top-bar-height;
		height: calc(100vh - #{$top-bar-height} - #{$footer-height})
	}
}

.l-no-scroll--nonav {
	.top-bar,
	.footer {
		display: none;
	}
	.main-content {
		margin-top: 0;
		margin-bottom: 0;
		height: 100vh;
	}
}

.main-content {
	padding: 0.75rem;
}