$top-bar-height: 2.8rem;

.grid-container {
	overflow: hidden;
}

.l-scroll {
	overflow: scroll;
}

.l-scroll,
.l-no-scroll {
	position: relative;
	height: 100%;

	@media (orientation: landscape) {
		height: auto;
	}

	&.finished-page {
		section.footer {
			position: fixed;

			@media (orientation: landscape) {
				position: relative;
			}
		}
	}
}

.l-no-scroll {
	overflow: hidden;

	@media (orientation: landscape) {
		overflow: scroll;
	}
}

.l-scroll--nonav {
	.top-bar,
	.footer {
		display: none;
	}
	.main-content {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.l-scroll--nav {
	.top-bar,
	.footer {
		position: fixed;
	}
	.main-content {
		margin-top: $top-bar-height;
		margin-bottom: $footer-height;
	}
	&.l-scroll--nofooter {
		.main-content {
			height: calc(100% - #{$top-bar-height});
			margin-bottom: 0;
		}
		section.footer {
			display: none;
		}
	}
}

.l-no-scroll--nav {
	.top-bar,
	.footer {
		position: fixed;

		@media (orientation: landscape) {
			position: relative;
		}
	}
	.main-content {
		margin-top: $top-bar-height;
		height: calc(100vh - #{$top-bar-height} - #{$footer-height});

		@media (orientation: landscape) {
			height: auto;
		}
	}
}

.l-no-scroll--nonav {
	.top-bar,
	.footer {
		display: none;
	}
	.main-content {
		margin-top: 0;
		margin-bottom: 0;
		height: 100vh;

		@media (orientation: landscape) {
			height: auto;
		}
	}
}

.main-content {
	padding: 0;
	.grid-container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
	}
}