.project {

  .questionstext__questlabel {
    padding-top: .5rem;
  }

  .project__question {
    padding-bottom: .5rem;
  }
}

.questionstext {

  &__catlabel {
    h2 {
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  img {
    margin: 1rem 0;
  }
}
