.project {

  .questionstext__questlabel {
    padding-top: .5rem;
  }

  .project__question {
    padding-bottom: .5rem;
  }
}

.questionstext {

  &__catlabel {
    h2 {
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  img {
    margin: 1rem 0;
  }
}

.project-content {
  ul {
    margin-bottom: 0;
  }
  .accordion-title:hover,
  .accordion-title:focus {
    background-color: $white;
  }
  .accordion-item span.project-content__icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: translateY(1px);
    background-image: url(../images/icons/i_next_black_large.svg);
    background-size: cover;
  }
  .accordion-item.is-active span.project-content__icon {
    background-image: url(../images/icons/i_previous_black_large.svg);
  }
  :last-child > .accordion-content:last-child {
    border: none;
  }
  .accordion-content {
    border: none;
    padding: 0 1rem 1.5rem;
  }
  .project-content__heading {
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-block;
    padding-top: .75rem;
  }
}
