.top-flash {
  padding-top: 1.5rem;
  text-align: center;
  img {
    height: 1.25rem;
  }
}

.question{

  &__text {
    margin: 1rem 1rem .5rem;
  }
  &__answer input {
    margin: 0;
    position: fixed;
    opacity: 0;
  }
  &__answer label {
    min-width: 100%;
    background-color: $gray-1;
    border-radius: 50px;
    height: 2rem;
    padding: .3rem 0 0 1rem;
    margin: 1rem 0 0 0 !important;
  }
  &__answer input:checked + label {
    background-color: $primary-color-1;
  }
  &__btn {
    position: fixed;
    bottom: 0;
  }
  &__btn input{
    margin: 1.5rem 0 5.25rem;
    background-color: $gray-1 !important;
  }
  &__btn input:hover {
    background-color: #252424;
  }
}
.answer--ready {
  background-color: $primary-color-1;
  input {
    background-color: #252424 !important;
  }
}
//CSS for correct/wrong-answer
.answer {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 12rem 0 0 0;
  top: 0;
  left: 0;

  p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }
  &__correct {
    background-color: $primary-color-1;
  }
  &__wrong {
    background-color: #252424;
    color: $white;
  }
}
//CSS for answer texts
@mixin answer-top-box ($answer-top-box-font-color) {
  text-align: center;
  color: $answer-top-box-font-color;
  font-weight: 700;
  padding-bottom: 1rem;
}

@mixin answer-top-box-icon ($answer-top-box-icon) {
  content: '';
  position: absolute;
  background-image: url(../images/icons/i_flash_white.svg);
  background-size: 60%;
  background-color: $answer-top-box-icon;
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateY(-1px);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100px;
  margin-left: -2rem;
}

.answer__text {
  margin: 1.5rem 1rem 0;

  &--top {
    padding: 1rem;
    border-radius: 1rem;

    @include breakpoint(medium) {
      text-align: center;
    }
  }

  &--correct {
    background-color: $primary-color-2-light;

    .answer__text-icon {
      @include answer-top-box ($primary-color-2-dark);

      &::before {
        @include answer-top-box-icon ($primary-color-2-dark);
      }
    }
  }

  &--wrong {
    background-color: $error-color-light;

    .answer__text-icon {
      @include answer-top-box ($error-color);

      &::before {
        @include answer-top-box-icon ($error-color);
      }
    }
  }

  &--more {
    margin-bottom: 7rem;
    img {
      margin: 2rem 0;
    }
  }
}

.a-answer-text-top {
  animation: a-answer-text-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.a-answer-text {
  animation: a-answer-text 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.5s both;
}

.a-answer-btn {
  animation: a-answer-text 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2s both;
}

@keyframes a-answer-text-top {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes a-answer-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



//Button for next question
.question {
  &__next {
    position: fixed;
    bottom: 0;
    background-color: $primary-color-1;

    a, a:hover {
      margin: 1.5rem 0 5.25rem;
      padding-top: 1.1rem;
    }
  }
}

.question__hint {
  font-size: 1rem;
  color: $gray-2;
}