.summary--mobile .desktop {

  .desktop-header__frame {
    h1 {
      font-size: 1.25rem;
    }
    span {
      font-size: 1rem;
    }
  }
  .benefits p,
  .text,
  .desktop-partners__text {
    font-size: .875rem;
  }
}