@mixin question-padding {
  padding-right: 2.5rem;
  padding-left: 1rem;
}

.top-flash {
  padding-top: 1.5rem;
  text-align: center;
  img {
    height: 1.25rem;
  }
}

.question{

  @media only screen and (orientation: landscape) {
    padding: 0 10vw;
  }

  &__text {
    margin: 1rem 0 .5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    h2 {
      font-size: 1.25rem;
    }
  }
  &__answer {
    @include question-padding;
  }
  &__answer input {
    margin: 0;
    position: fixed;
    opacity: 0;
  }
  &__answer label {
    position: relative;
    min-width: 100%;
    background-color: $gray-5;
    color: $gray-2;
    border-radius: 50px;
    padding: .3rem 1rem .25rem 1rem;
    margin: 1rem 0 0 0 !important;
    line-height: 1.3rem;
  }
  &__answer input:checked + label {
    background-color: $primary-color-1;
  }
  &__answer input.answered + label {
    background-color: $gray-5;
    color: $gray-2;

    &::after {
      background-image: url(../images/icons/i_wrong.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      right: -1.5rem;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &__answer input.correct + label {
    background-color: $primary-color-2-light;
    color: $primary-color-2-darker;
  }
  &__answer input.correct.answered + label::after {
    background-image: url(../images/icons/i_correct.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: -1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .question__answer label {
    color: $secondary-color;
  }
  &__btn {
    background-color: rgba(255, 255, 255, .75);
    position: fixed;
    bottom: 0;
  }
  &__btn input{
    margin: 1.5rem 0 5.25rem;
    background-color: $gray-1 !important;
  }
  &__btn input:hover {
    background-color: $secondary-color;
  }
}

#answers-view.question__answer input:not(.correct) + label {
  background-color: $gray-5;
  color: $gray-2;
}

.answer--ready {
  background-color: rgba(255, 255, 255, .75);
  input {
    background-color: $secondary-color !important;
  }
}
//CSS for correct/wrong-answer
.answer {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 12rem 0 0 0;
  top: 0;
  left: 0;

  p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }
  &__correct {
    background-color: $primary-color-1;
  }
  &__wrong {
    background-color: $secondary-color;
    color: $white;
  }
}
//CSS for answer texts
.answer__text {
  margin: 1.5rem 0 0;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: .875rem;
}

.answer__text-more {
  margin-bottom: 8rem;

  #more {
    font-size: .875rem;
    letter-spacing: .01rem;
  }

  .accordion-content {
    padding-top: 0;
  }

  .accordion-content,
  :last-child > .accordion-content:last-child {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  .accordion-title:hover,
  .accordion-title:focus {
    background-color: $white;
  }

  .accordion-item .icon {
    display: inline-block;
    width: .875rem;
    height: .875rem;
    transform: translateY(2px);
    background-image: url(../images/icons/i_next_gray.svg);
    background-size: cover;
    margin-right: .25rem;
  }

  .accordion-item.is-active .icon {
    background-image: url(../images/icons/i_back_gray.svg);
  }
  img {
    margin: 2rem 0;
  }

  .accordion-title,
  .accordion-title:visited,
  .accordion-title:focus,
  .accordion-title:active,
  .accordion-title:hover {
    padding-top: .25rem;
    padding-left: 0;
    font-size: 1rem;
    color: $gray-4;

    & > div {
      display: inline-block;
    }

    &::before {
      content: "";
    }
  }

  .accordion-item.is-active .accordion-title {
    &::before {
      content: "";
    }
  }

  .answer__source {
    padding-top: 1.5rem;
    color: $gray-4;
  }
}

.a-accordion-more {
  animation: a-answer-text 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.5s both;
}

.a-answer-btn {
  animation: a-answer-text 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2s both;
}

@keyframes a-answer-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



//Button for next question
.question {
  &__next {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);

    a, a:hover {
      margin: 1.5rem 0 5.25rem;
      padding-top: 1.1rem;
    }
  }
}

.question__hint {
  font-size: .875rem;
  color: $gray-2;
}