#share-reveal {
  top: 0!important;

  &:focus {
    outline-width: 0;
  }
}

.share-reveal {
  padding-top: 2rem;

  &__title {
    font-size: 1.25rem;
    text-align: center;  
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  &__icon {
    text-align: center;
    z-index: 9999;

    img {
      width: 3rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}

#link_copied {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: .5rem 1rem;
  min-width: 12rem;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 8px;
}

.quiz-finished {
  padding: 1rem;

  &__heading {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 2rem 1rem 3rem;
  }

  &__wrap {
    background-color: $primary-color-1;
    border-radius: $border-radius;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem 1rem 1.5rem;

    p {
      padding-top: 1rem;
    }
  }

  &__flash {
    padding-bottom: .5rem;
    img {
      height: 1.5rem;
    }
  }

  &__slogan {
    position: absolute;
    top: 50%;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (orientation: landscape) {
      position: relative;
      top: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &__btn {
    position: absolute;
    bottom: 5rem;

    @media (orientation: landscape) {
      position: relative;
      bottom: 0;
    }
  }

  &__reveal-wrap {
    background-color: $primary-color-1;
    border-radius: $border-radius;
    font-size: 1rem;
    padding: 1.5rem 1rem 1.5rem;

    .highlight {
      font-weight: 700;
    }

    .sub {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-height: 599px) {
    &__heading {
      padding: 0 1rem 1rem;
    }
    &__slogan {
      top: 45%;
    }
  }
}

.a-quiz-finished {
  animation: a-quiz-finished 1.5s $cubic-bezier-ease-out .5s both;
}

.a-quiz-finished-slogan {
  animation: a-quiz-finished-slogan 1s $cubic-bezier-ease-out 1.5s both;
}

.a-quiz-finished-btn {
  animation: a-quiz-finished-btn 1s $cubic-bezier-ease-in 3s both;;
}

@keyframes a-quiz-finished {
  0% {
    transform: translateY(-100rem);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes a-quiz-finished-slogan {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes a-quiz-finished-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}