.quiz-fin {
  position: relative;

  &__text {
    margin: 5rem 0 3rem;

    p {
      font-size: 1.3rem;
      font-weight: 700;
    }
    span {
      color: $primary-color-2;
      font-size: 1.6rem;
    }
  }
  &__img {
    img {
      height: 7.5rem;
    }
  }
  &__bottom {
    position: absolute;
    bottom: 1rem;
  }
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
