$station-height: 3.125rem;
$station-font-size: .875rem;
$station-font-line-height: 1rem;

#stationsList {
	width: 100%;
}

.station {

  &__line {
		height: $station-height;
		fill: #EFEFEF;
	}

	&__name {
    font-size: $station-font-size;
    line-height: $station-font-line-height;
    padding-left: 1rem;
    // center station name vertically
    padding-top: calc((#{$station-height} - #{$station-font-line-height}) / 2 );
    padding-bottom: calc((#{$station-height} - #{$station-font-line-height}) / 2 );
	}

	&__between {
		height: 10px;
		line-height: 0;
		fill: #EFEFEF;
	}
}

.highlight-station {
	background-color: yellow;
	border-radius: 100px;
}