#stationsList {
	width: 100%;
}

.station {

  &__line {
		height: 50px;
		fill: #EFEFEF;
	}

	&__name {
		line-height: 50px;
		font-size: .875rem;
	}

	&__between {
		height: 10px;
		line-height: 0;
		fill: #EFEFEF;
	}
}

.highlight-station {
	background-color: yellow;
	border-radius: 100px;
}