$top-bar-top-bottom-padding: .25rem;

@mixin top-bar-itme-absolute-position {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 9;
}

section.top-bar {
	position: relative;
	padding: $top-bar-top-bottom-padding 1rem;
  	background-color: $gray-1;
	height: $top-bar-height;
	width: 100%;
	text-align: center;
	z-index: 3;
	flex-direction: row nowrap;
	justify-content: space-between;

	.cell {
		height: 100%;
	}

	.top-bar--back {
		position: absolute;
		left: 1rem;
		a {
			@include top-bar-itme-absolute-position;
		}
		img {
			width: 1.25rem;
		}
	}

	.top-bar--language {
		position: absolute;
		right: 16%;
		a {
			@include top-bar-itme-absolute-position;
		}
		img {
			height: 1.25rem;
		}
	}

	.top-bar--header {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
  		margin-right: auto;
		font-size: 1rem;
		font-weight: 700;
		img {
			width: 1.25rem;
		}
		span {
			display: inline-block;
			transform: translateY(2px);
			padding-left: .25rem;
			color: $gray-6;
		}
	}

	.top-bar--share {
		position: absolute;
		right: 1rem;
		a {
			@include top-bar-itme-absolute-position;
		}
		img {
			width: 1.2rem;
		}
	}
}

img.share-reveal__icon {
	width: 1.2rem;
	transform: translateY(-2px);
	margin-right: 1rem;
}

.cell.top-bar__wrap {
	width: 10rem;
	text-align: left;
	width: 10rem;

	a.top-bar__link {
		color: $secondary-color;
		height: 100%;
		width: 10rem;
	}

	.top-bar__tap {
		width: 10rem;
		height: 100%;
		padding-left: .5rem;
		line-height: calc(#{$top-bar-height} - (#{$top-bar-top-bottom-padding} * 2));
		transform: translateY(1px);
	}

	img {
		height: 1rem;
		transform: translateY(-2px);
	}
}

.dashboard_animation {
	animation: star_blink .4s ease-in-out;
}
