section.top-bar {
	padding: 0;
  background-color: $gray-1;
	height: $top-bar-height;
	width: 100%;
	text-align: center;
	z-index: 3;

	.cell {
		height: 100%;
		line-height: $top-bar-height;
	}

	.top-bar--back {
		text-align: left;

		img {
			width: 1rem;
			margin-left: .5rem;
			transform: translateY(-2px);
		}
	}

	.top-bar--language {
		img {
			height: 1.25rem;
		}
	}

	.top-bar--header {
		font-size: 1rem;
		font-weight: 700;
		img {
			width: 1.5rem;
			transform: translateY(-2px);
		}
	}

	.top-bar--points {
		font-size: .875rem;
		font-weight: 700;
		img {
			width: 1.2rem;
			transform: translateY(-2px);
		}
	}
}

.cell.top-bar__wrap {
	width: 10rem;
	text-align: left;
	width: 10rem;

	a.top-bar__link {
		color: #000;
		height: 100%;
		width: 10rem;
	}

	.top-bar__tap {
		width: 10rem;
		height: 100%;
		padding-left: .5rem;
	}

	img {
		height: 1rem;
		transform: translateY(-2px);
	}
}

.dashboard_animation {
	animation: star_blink .4s ease-in-out;
}
