.pattern-bg--blue {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $primary-color-2;
  background-image: url(../images/Dashboard_Pattern_blue_v2.svg);
  background-size: 12rem;

  @media only screen and (min-width: 600px) {
    background-size: 18rem;
  }
}

.tour {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  z-index: 9;
  padding: 1rem;

  @media screen and (min-width: 600px) {
    padding: 2rem;
  }

  .tour__text {
    background-color: $primary-color-1;
    border-radius: $border-radius;
    padding: 2rem 1rem;
    p {
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 0;
    }
  }

  .tour__icon {
    & > div {
      background-color: $primary-color-1;
      border-radius: 100px;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    img {
      width: 1.75rem;
      display: block;
    }
  }

  .tour__feature {
    padding-left: 1rem;
    font-weight: 700;

    &--nopadding {
      padding-left: 0;
    }
  }

  .tour__btn {
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    .tour__text p {
      font-size: 1.5rem;
    }

    .tour__icon {
      text-align: center;
      & > div {
        margin: 0 auto;
      }
    }

    .tour__feature {
      font-size: 1.25rem;
      padding-bottom: 1rem;
    }
  }
}