.pattern-bg--blue {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $primary-color-2;
  background-image: url(../images/Dashboard_Pattern_blue_v2.svg);
  background-size: 12rem;

  @media only screen and (min-width: 600px) {
    background-size: 18rem;
  }
}

.tour {
  z-index: 9;
  padding: 1rem;
}