$primary-color-1: #F0D722; // BVG Verkehrgelb
$primary-color-2: #17BEBB;

$secondary-color: #252424; // BVG Verkehrsschwarz

$gray-1: #EFEFEF;
$gray-2: #B0B0B0;
$gray-3: #D0D0D0;
$gray-4: #757575;

$white: #FFF; // BVG Verkehrsweiß

$normal-text: $secondary-color;
$light-text: $gray-1;