$primary-color-1: #F0D722; // BVG Verkehrgelb
$primary-color-2: #17BEBB;
$primary-color-2-light: #D8F3F3;
$primary-color-2-dark: #25A6A3;

$secondary-color: #252424; // BVG Verkehrsschwarz

$gray-1: #EFEFEF;
$gray-2: #B0B0B0;
$gray-3: #D0D0D0;
$gray-4: #757575;

$white: #FFF; // BVG Verkehrsweiß

$normal-text: $secondary-color;
$light-text: $gray-1;

$error-color: #D75221;
$error-color-light: #F4D8CE;