$primary-color-1: #FFF328;
$primary-color-2: #17BEBB;

$secondary-color: #000;

$gray-1: #EFEFEF;
$gray-2: #B0B0B0;
$gray-3: #D0D0D0;

$white: #FFF;

$normal-text: $secondary-color;
$light-text: $gray-1;