
{% load static %}
{% load i18n %}

<div class="show-for-large">

  <section class="desktop desktop-header">
    <div class="grid-x align-center grid-width--large">
      <div class="cell large-9 desktop-header__frame">
        <h1>{% trans 'E-Metrobus Berlin' %}</h1>
        <span>{% trans 'Elektrifizierung von Gelenkbussen im Berliner ÖPNV mit Schnellladeinfrastruktur' %}</span>
      </div>
    </div>
  </section>
  
  <section class="desktop desktop-app">
    <div class="grid-x align-center grid-width--large">
      <div class="cell large-3 desktop-app__img">
        <img src="/static/images/LP_Device_v2.png" alt="E-MetroBus App auf einem Smartphone">
      </div>
      <div class="cell large-9 desktop-app__text">
        <div>
          <div class="heading">
            <h2>Auf Smartphones unter <span class="heading--highlight">e-metrobus.berlin</span> verfügbar</h2>
          </div>
          <div class="icons">
            <div class="icons--1"></div>
            <div class="icons--2"></div>
            <div class="icons--3"></div>
          </div>
          <div class="benefits">
            <p>Teste deine Kenntnisse über E-Mobilität mit einem Quiz</p>
            <p>Erfahre wie viel CO2, NOx und Feinstaub du im Vergleich zu anderen Verkerhsmitteln sparst</p>
            <p>Lerne über das E-MetroBus Projekt</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<!--
<div class="desktop show-for-large">
  <div class="grid-x align-center">

    <div class="cell large-6">
      <div class="grid-x align-center text-center">
        <div class="cell desktop__header">
          <h1>{% trans 'E-Metrobus Berlin' %}</h1>
        </div>
        <div class="cell desktop__subheader">
          <span>{% trans 'Elektrifizierung von MetroBus-Linien im Berliner ÖPNV mit Schnellladeinfrastruktur' %}</span>
        </div>
      </div>
    </div>
    <div class="cell large-6 desktop__link">
      <div class="grid-x">
        <div class="cell large-5 desktop__link--img">
          <img src="{% static 'images/LP_Device_v2.png' %}" alt="phone">
        </div>

        <div class="cell large-5 align-right desktop__top-right">
          <div class="desktop__lang">
          {% get_current_language as LANGUAGE_CODE %}
          {% if LANGUAGE_CODE == "de" %}
            <a href="en/?visited" data-open="language_popup">
              <img src="{% static 'images/icons/i_flag_uk.svg' %}" alt="UK Flagge">
              <span>Switch to English</span>
            </a>
          {% else %}
            <a href="/?visited" data-open="language_popup">
              <img src="{% static 'images/icons/i_flag_de.svg' %}" alt="Deutschland Flagge">
              <span>Zu Deutsch wechseln</span>
            </a>
          {% endif %}
          </div>
          <div class="grid-x align-center">
            <div class="cell text-center desktop__link--text">
              <span>{% trans 'App auf mobilen Geräten verfügbar' %}</span>
            </div>
            <div class="cell large-5 text-center desktop__link--qr">
              <img src="{% static 'images/qr-code.svg' %}" alt="qr-code">
            </div>
            <div class="cell text-center desktop__link--link">
              <span>https://e-metrobus.berlin/</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cell medium-10 large-10 xlarge-9 xxlarge-8 desktop__appinfo">
      <div class="grid-x align-center text-center">
        <div class="cell medium-6 desktop__appinfo--img">
          <img src="{% static 'images/icons/i_time_blue_line.svg' %}" alt="Zeit Icon">
          <h2>{% trans 'Laufzeit' %}</h2>
          {% trans 'Das E-MetroBus Projekt läuft für einen Zeitraum von Januar 2019 bis Januar 2023' %}
        </div>
        <div class="cell medium-6 desktop__appinfo--img">
          <img src="{% static 'images/icons/i_government_blue_desktop.svg' %}" alt="Ministerium Icon">
          <h2>{% trans 'Förderung' %}</h2>
          {% trans 'Die Förderung erfolgt als ein Forschungs- und Entwicklungsvorhaben im Rahmen der Förderrichtlinie Elektromobilität des Bundesministeriums für Verkehr und digitale Infrastruktur' %}
        </div>
        <div class="cell medium-6 desktop__appinfo--img desktop__appinfo--img--bus">
          <img src="{% static 'images/icons/i_bus_blue_line.svg' %}" alt="Bus Icon">
          <h2>{% trans 'Busse' %}</h2>
          {% trans 'Um möglichst lange ladungsbedingte Standzeiten zu vermeiden, müssen die Busse in der Lage sein, mit einer hohen Leistung geladen zu werden' %}
        </div>
        <div class="cell medium-6 desktop__appinfo--img">
          <img src="{% static 'images/icons/i_electricity_blue_line.svg' %}" alt="Strom Icon">
          <h2>{% trans 'Ladeinfrastruktur' %}</h2>
          {% trans 'Eine Ladeinfrastruktur von über 300kW soll erprobt werden. Der resultierende Bedarf soll sowohl mit den eigens aus Erneuerbaren Energien produziertem Strom als auch aus dem Versorgungsnetz bereitgestellt werden' %}
        </div>
      </div>
    </div>

    <div class="cell desktop-objectives">
      <div class="grid-x">
        <div class="cell medium-6 desktop-objectives__text">
          <h2>{% trans 'Projektziele' %}</h2>
          <p>
            {% trans 'Im Projekt E-MetroBus werden 15 Gelenkbusse der Berliner Verkehrsbetriebe (BVG) elektrifiziert und so ausgerüstet, dass sie besonders schnell geladen werden können. Eine Umrüstung der Busse bringt einige technische und organisatorische Herausforderungen mit sich. Einerseits muss die Zeit, die die Busse zum Laden zur Verfügung haben, flexibel gestaltet werden, da sie durch verkehrsbedingte Verspätungen und Sperrungen stark variieren kann. Andererseits belastet die dafür infrage kommende Schnellladetechnologie das lokale Stromnetz – dies wird insbesondere dann deutlich, wenn alle 1400 Busse der BVG-Flotte in die Untersuchung mit einbezogen werden.' %}
          </p>
          <p>
            {% trans 'Das RLI entwickelt unterschiedliche Szenarien, wie eine lokale, netzdienliche Versorgung der Ladestationen erreicht werden kann. Dabei werden die Energiesysteme modelliert, simuliert und ihre Topologie anschließend unter ökonomischen und ökologischen Aspekten optimiert. Um das lokale Stromnetz zu entlasten, soll vor allem auch der Einsatz von Erneuerbare-Energie-Anlagen und die Einbindung in intelligente Netze, die je nach Energiebedarf Verbrauch und Erzeugung im Netz regulieren, im Detail betrachtet werden. Daraufhin werden Synergien zu anderen Verkehrsträgern und die Übertragbarkeit auf Verkehrsbetriebe unterschiedlicher Größenordnung untersucht.' %}
          </p>
        </div>
        <div class="cell medium-6 desktop-objectives__img"></div>
      </div>
    </div>

  </div>


  <div class="cell desktop__footer">
    <div class="desktop__logos">
      <div class="desktop__logo desktop__logo--BVG">
        <div>
          <a href="https://www.bvg.de/de" target="_blank" rel="noopener noreferrer" title="Zur Website">
            <img src="{% static 'images/logos/Logo_BVG.png' %}" alt="BVG Logo">
          </a>
        </div>
      </div>
      <div class="desktop__logo desktop__logo--RLI">
        <div>
          <a href="https://reiner-lemoine-institut.de/" target="_blank" rel="noopener noreferrer" title="Zur Website">
            <img src="{% static 'images/RLi_logo.png' %}" alt="RLI Logo">
          </a>
        </div>
      </div>
      <div class="desktop__logo desktop__logo--TUB">
        <div>
          <a href="https://www.mpm.tu-berlin.de/menue/home/" target="_blank" rel="noopener noreferrer" title="Zur Website">
            <img src="{% static 'images/logos/TU-Berlin_logo.png' %}" alt="TUB Logo">
          </a>
        </div>
      </div>
    </div>
    <div class="desktop__logos">
      <div class="desktop__logo desktop__logo--BMWI">
        <div>
          <img src="{% static 'images/logos/Logokombi_gefoerdert-durch-BMVI-koordiniert-durch-NOW_de.png' %}" alt="BMWI und NOW Logo">
        </div>
      </div>
    </div>
  </div>
</div>
-->
