
{% load i18n %}

<div class="desktop show-for-large">
  <div class="grid-x align-center">

    <div class="cell large-6">
      <div class="grid-x align-center text-center">
        <div class="cell desktop__header">
          <h1>E-Metrobus Berlin</h1>
        </div>
        <div class="cell desktop__subheader">
          <span>{% trans 'Elektrifizierung von MetroBus-Linien im Berliner ÖPNV mit Schnellladeinfrastruktur' %}</span>
        </div>
      </div>
    </div>
    <div class="cell large-6 desktop__link">
      <div class="grid-x">
        <div class="cell large-5 desktop__link--img">
          <img src="../../static/images/HP_hero_device.png" alt="phone">
        </div>

        <div class="cell large-5 align-right">
          <div class="grid-x align-center">
            <div class="cell text-center desktop__link--text">
              <span>{% trans 'App auf mobilen Geräten verfügbar' %}</span>
            </div>
            <div class="cell large-5 text-center desktop__link--qr">
            </div>
            <div class="cell text-center desktop__link--link">
              <span>https://e-metrobus.berlin/</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cell large-8 desktop__appinfo">
      <div class="grid-x align-center text-center">
        <div class="cell desktop__appinfo--header">
          <h2>{% trans 'Was vermittelt die App?' %}</h2>
        </div>
        <div class="cell large-4 desktop__appinfo--img">
          <img src="../../static/images/icons/i_co2_blue.svg" alt="Kohlenstoffdioxid Icon">
        </div><div class="cell large-4 desktop__appinfo--img">
          <img src="../../static/images/icons/i_ebus_blue.svg" alt="E-Bus Icon">
        </div><div class="cell large-4 desktop__appinfo--img">
          <img src="../../static/images/icons/i_quiz_blue.svg" alt="Quiz Icon">
        </div>
        <div class="cell large-4 desktop__appinfo--text">
          {% trans 'Genaue Zahlen der eigenen Emissionen durch eine Fahrt mit dem E-Bus' %}
        </div>
        <div class="cell large-4 desktop__appinfo--text">
          {% trans 'Vergleich der Zahlen zu anderen Verkehrsmitteln' %}
        </div>
        <div class="cell large-4 desktop__appinfo--text">
          {% trans 'Informationen über E-Metrobus und die Umwelt anhand eines Ouizes' %}
        </div>
      </div>
    </div>

    <div class="cell large-8 desktop__info">
      <div class="grid-x align-center">
        <div class="cell text-center desktop__info--header">
          <h3>{% trans 'Die Mobilität der Zukunft kommt nach Berlin' %}</h3>
        </div>
        <div class="cell large-6 desktop__info--text">
          <span>{% trans 'Seit August 2015 fährt die Linie 204 elektrisch durch die Hauptstadt. Steigen Sie ein und erleben sie die Vorteile der elektrischen Mobilität! Auf der Live-Karte können Sie jederzeit sehen, wo unsere Elektrobusse gerade unterwegs sind. Und während Sie auf den Bus warten: Warum nicht einfach auf Ihrem Smartphone weiterlesen?' %}</span>
        </div>
        <div class="cell large-5 desktop__info--img">
        </div>
      </div>
    </div>

  </div>


  <div class="cell desktop__footer">
    <div class="grid-x align-center">
      <div class="cell bmvi large-2 desktop__logo desktop__logo--BVG">
        <a href="https://www.bvg.de/de" target="_blank" rel="noopener noreferrer" title="Zur Website">
          <img src="/static/images/logos/Logo_BVG.png" alt="BVG Logo">
        </a>
      </div>
      <div class="cell large-2 desktop__logo desktop__logo--RLI">
        <a href="https://reiner-lemoine-institut.de/" target="_blank" rel="noopener noreferrer" title="Zur Website">
          <img src="/static/images/RLi_logo.png" alt="RLI Logo">
        </a>
      </div>
      <div class="cell large-2 desktop__logo desktop__logo--TUB">
        <a href="https://www.mpm.tu-berlin.de/menue/home/" target="_blank" rel="noopener noreferrer" title="Zur Website">
          <img src="/static/images/logos/TU-Berlin_logo.png" alt="TUB Logo">
        </a>
      </div>
    </div>
  </div>
</div>
