<p>Dieses digitale Angebot wird im Rahmen des Forschungsprojekts „E-Metrobus“ (gefördert im Rahmen der Förderrichtlinie Elektromobilität des Bundesministeriums für Verkehr und digitale Infrastruktur) herausgegeben und betrieben von:</p>
<p>
  Reiner Lemoine Institut gGmbH<br>
  Rudower Chaussee 12<br>
  12489 Berlin
</p>
<p>
  Telefon +49 (0)30 1208 434 0<br>
  Fax +49 (0)30 1208 434 99
</p>
<p>
  Geschäftsführung:<br>
  Dr. Kathrin Goldammer
</p>
<p>
  Handelsregister Berlin – HRB 124659 B
</p>
<p>
  Steuernummer: 27/602/55211
</p>
<p>
  USt-IdNr.: DE274491408
</p>
