
{% load static %}
{% load i18n %}

<div class="grid-x share-reveal" id="share-buttons">
  <div class="cell small-4 share-reveal__icon">
    <a href="http://www.facebook.com/sharer.php?u={{share_url}}&amp;title={{share_text}}" target="_blank">
      <img src="{% static 'images/icons/i_fb.png' %}" alt="Facebook Icon">
    </a>
  </div>
  <div class="cell small-4 share-reveal__icon">
    <a href="whatsapp://send?text={{share_text}}:%0D%0A{{share_url}}">
      <img src="{% static 'images/icons/i_whatsapp.png' %}" alt="Whatsapp Icon">
    </a>
  </div>
  <div class="cell small-4 share-reveal__icon">
    <a href="tg://msg_url?url={{share_url}}&amp;text={{share_text}}.">
      <img src="{% static 'images/icons/i_telegram.png' %}" alt="Telegram Icon">
    </a>
  </div>
  <div class="cell small-4 share-reveal__icon">
    <img id="share_link" src="{% static 'images/icons/i_copy.svg' %}" alt="Copy Icon" data-clipboard-text="{{share_url}}" onclick="link_copied();">
    <div id="link_copied" hidden>
      {% trans 'Link wurde kopiert' %}
    </div>
  </div>
</div>
