{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}E-MetroBus{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#f0d722">

    {% block header %}{% endblock %}

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
      {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
        <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}

  </head>

  <!-- 4 class possibilities:
        l-scroll l-scroll--nav          -> scroll with nav + footer
        l-scroll l-scroll--nonav        -> scroll without nav + footer
        l-no-scroll l-no-scroll--nav    -> scroll hidden with nav + footer
        l-no-scroll l-no-scroll--nonav  -> scroll fidden without nav + footer
  -->
  <body class="{% block body_class %}l-scroll l-scroll--nav{% endblock %}">

    {% include "includes/desktop.html" %}
    {% include "includes/landscape.html" %}
    <div class="grid-container full hide-for-large show-for-portrait">

      {{top_bar}}

      <main class="{% block main_class %}grid-x main-content{% endblock %}">
        {% block content %}
        {% endblock content %}
      </main>

      {{footer}}

    </div>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Required by Foundation 6.4.3 -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
      <script src="{% static 'js/foundation.min.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}

      <!-- Your stuff: Third-party javascript libraries go here -->

      <script>
        $(document).foundation();

        function resetHeight(){
            // reset the body height to that of the inner browser
            document.body.style.height = window.innerHeight + "px";
            console.log(document.body.style.height);
        }
        // reset the height whenever the window's resized
        window.addEventListener("resize", resetHeight);
        // called to initially set the height.
        resetHeight();
      </script>
    {% endblock javascript %}
  </body>
</html>
