
{% load static %}
{% load i18n %}

<img src="{% static 'images/questions/wagen_voll_geladen.jpg' %}" alt="{% trans 'Bild eines E-Busses mit der Aufschrift Hab den Wagen voll geladen' %}">

{% blocktrans %}
Das Pilotprojekt mit 4 Prototypen vom Typ Solaris Urbino 12 electric mit Induktionsladetechnik wurde erfolgreich abgeschlossen und diese Busse sind nun nicht mehr im regulären Einsatz. Die Umstellung der BVG-Busse auf alternative Antriebe hat 2019 mit dem Betrieb von serienreifen E-Bussen begonnen. Mit der Elektrifizierung der Linie 200 sind es derzeit 47 E-Busse bei der BVG. Ende 2020 wird diese Zahl auf 138 E-Busse steigen. Die BVG verlässt sich bei der Elektrifizierung nicht nur auf eine Technologie, sondern bringt verschiedene Bustypen und Strategien zur Ladung in den Linienbetrieb, da unterschiedliche Linien im Depot und auch auf der Strecke während einer Pause geladen werden müssen.
{% endblocktrans %}
