
{% load static %}
{% load i18n %}

{% blocktrans %}
Eine konkrete Zahl ist stark abhängig von den zukünftigen Entwicklungen der Technologien. Verschiedene Aspekte werden in den folgenden Jahren die öffentliche Mobilität in Berlin beeinflussen. Durch die weitere Verdichtung und Erweiterung der Stadt wird auch das Liniennetz sukzessive erweitert. Allein aufgrund dieses steigenden Bedarfs werden mehr als die aktuell ca. 1.450 Busse zukünftig notwendig sein. Zusätzlich werden durch die Elektrifizierung der Busflotte mit teils geringeren Reichweiten mehr Busse auf einer Linie eingesetzt werden.
{% endblocktrans %}

<img src="{% static 'images/questions/full_electrification.jpg' %}" alt="{% trans 'Bild mehrerer E-Busse an Ladesäulen' %}">
