
<div class="cell">
  <div class="grid-x">
    <div class="cell small- 11 medium-11 answer__text">
      Als Fahrgast profitieren Sie von einem deutlich ruhigeren Fahrerlebnis.
  Elektrische Busse sind leiser als Dieselbusse und vibrieren weniger.
  Als Anwohner der Buslinie 200 dürfen Sie sich über eine erheblich geringere Lärm- und Abgasbelastung freuen.
  Insgesamt trägt der E-Bus so zu einem lebenswerten Berlin bei.
  Die Geräuschemission eines E-Busses entspricht denen eines durchschnittlichen PKW und ist damit um ca. die Hälfte geringer als die eines modernen Dieselbusmotors.
    </div>
    <div class="cell text-center seemore">
      <a href="#show">Mehr lesen</a>
    </div>
  </div>
</div>
