
{% load i18n %}

{% blocktrans %}
Jeder Berliner ist statistisch gesehen für 4,8 Tonnen CO2 pro Jahr verantwortlich. Im Bundesdurchschnitt sind es 8,8 Tonnen. Der Verkehrssektor verursacht ein knappes Drittel der Emissionen, ebenso wie Haushalte, Gewerbe, Handel und Dienstleistungen. Mit deutlich über 40 Prozent ist der „Umwandlungssektor“, also die Kraftwerke, der größte Emittent.
{% endblocktrans %}

<a href="https://www.morgenpost.de/berlin/article227285783/Berlins-langer-Weg-zur-klimaneutralen-Stadt.html">(Morgenpost.de)</a>
