
{% load i18n %}

{% blocktrans %}
Die Elektrobusse werden zunächst auf den Innenstadt- und Nachtlinien eingesetzt, weil diese die Situation im durch Luftverschmutzung stark betroffenen Innenstadt-Bereich verbessern können. Diese Eindecker sind für die Depotladung ausgelegt, d.h. sie laden meistens nur einmal täglich im Betriebshof ihre Batterien und haben keine Lademöglichkeiten auf der Strecke, wie bei den E-Gelenkbussen der Linie 200. Dadurch sind diese Busse nur auf Linien mit begrenzter Reichweite einsetzbar und können noch nicht die anspruchsvollen Metro- und Umlandlinien übernehmen. Die E-Busflotte ist auf den genannten Linien zur Zeit noch abwechselnd mit konventionellen Dieselbussen unterwegs, da für den reinen Elektrobetrieb noch nicht genügend E-Busse vorhanden sind.
{% endblocktrans %}

