<section class="grid-x footer">
  {% for link in links.values %}
    <div class="cell small-3 footer__item">
      {% if link.enabled %}
        <a href="{% url link.url %}">
      {% endif %}
        <div class="footer__item-wrap {% if link.selected %}footer__item--selected{% else %}footer__item--not-selected{% endif %}">
          <img src="/static/images/icons/i_{{link.name}}_{% if link.enabled %}{% if link.selected %}light{% else %}black{% endif %}{% else %}gray{% endif %}.svg" alt="{{link.name|capfirst}} Icon">
        </div>
      {% if link.enabled %}
        </a>
      {% endif %}
    </div>
  {% endfor %}
</section>
