<section class="grid-x footer">
  <div class="cell small-3 footer__item">
    <a href="">
      <div class="footer__item-wrap">
        <img src="/static/images/icons/i_info_gray.svg" alt="Informationen Icon">
      </div>
    </a>
  </div>
  <div class="cell small-3 footer__item">
    <a href="">
      <div class="footer__item-wrap">
        <img src="/static/images/icons/i_pin_gray.svg" alt="Pin Icon">
      </div>
    </a>
  </div>
  <div class="cell small-3 footer__item">
    <a href="">
      <div class="footer__item-wrap">
        <img src="/static/images/icons/i_results_gray.svg" alt="Text Icon">
      </div>
    </a>
  </div>
  <div class="cell small-3 footer__item">
    <a href="">
      <div class="footer__item-wrap">
        <img src="/static/images/icons/i_quiz_black.svg" alt="Spiel Icon">
      </div>
    </a>
  </div>
</section>
