
{% load i18n %}

<div class="cell table-scroll data__table">
  <table class="comparison-table scroll">
    <thead>
      <tr>
        <th>{% trans 'Fahrzeug' %}</th>
        <th>{% trans 'CO<sub>2</sub>' %} [g/km]</th>
        <th>{% trans 'Stickoxide' %} [g/km]</th>
        <th>{% trans 'Feinstaub' %} [g/km]</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
        <tr>
          <td>{{vehicle.label}}</td>
          <td>{{vehicle.data.co2}}</td>
          <td>{{vehicle.data.nitrogen}}</td>
          <td>{{vehicle.data.fine_dust}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="data__source">
    {% trans 'Quellen' %}:
    <ul class="list">
      {% for source in sources %}
        <li>{{source}}</li>
      {% endfor %}
    </ul>
  </p>
</div>
