{% load static %}
{% load i18n %}
{% load translation %}

<section class="grid-x top-bar">
  {% if back_url %}
    <div class="cell small-1 top-bar--back">
      <a href="{% url back_url %}">
        <div>
          <img src="{% static 'images/icons/i_back_black.svg' %}" alt="Zurück">
        </div>
      </a>
    </div>
  {% endif %}
  <div class="cell small-2 top-bar--language">
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'de' %}
      <a href="{% translate_url 'en' %}" onclick="send_posthog_event('english');">
        <img src="{% static 'images/icons/i_flag_uk.svg' %}" alt="uk_flag">
      </a>
    {% else %}
      <a href="{% translate_url 'de' %}">
        <img src="{% static 'images/icons/i_flag_de.svg' %}" alt="uk_flag">
      </a>
    {% endif %}
  </div>
  <div class="cell small-5 top-bar--header">
    <img src="{% static title_icon %}" alt="{{title_alt}}">
    <span>{{title}}</span>
  </div>
  <div class="cell small-2 top-bar--share">
    <a data-open="share-reveal" onclick="send_posthog_event('shared');">
      <img src="{% static 'images/icons/i_share.svg' %}" alt="App teilen">
    </a>
  </div>
</section>

<div class="reveal" id="share-reveal" data-reveal>
  {% if quiz_finished %}
    <div class="cell quiz-finished">
      <div class="grid-x text-center align-center">
        <div class="cell quiz-finished__heading">
          {% trans 'Quiz erledigt!' %}
        </div>
        <div class="cell quiz-finished__wrap a-quiz-finished">
          <p>{% blocktrans with score="<span>{}</span>"|format_text:score %}{{score}}% richtig beantwortet{% endblocktrans %}</p>
          <div class="quiz-finished__flash">
            {% for answer in answers %}
              {% if answer.value == "correct" %}
                <img src="{% static 'images/icons/i_flash_correct.svg' %}" alt="Flash">
              {% else %}
                <img src="{% static 'images/icons/i_flash_white.svg' %}" alt="Flash">
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="cell quiz-finished__slogan a-quiz-finished-slogan">
          Ich bin ein lustiger BVG Spruch zu meinen Puntken
        </div>
      </div>
    </div>
  {% endif %}
  <div class="grid-x share-reveal" id="share-buttons">
    <div class="cell share-reveal__title">
      <span><img src="{% static 'images/icons/i_share.svg' %}" alt="App teilen" class="share-reveal__icon">App teilen</span>
    </div>
    <div class="cell small-4 share-reveal__icon">
      <a href="http://www.facebook.com/sharer.php?u={{share_url}}" target="_blank">
        <img src="{% static 'images/icons/i_fb.png' %}" alt="Facebook Icon">
      </a>
    </div>
    <div class="cell small-4 share-reveal__icon">
      <a href="whatsapp://send?text=text%20{{share_url}}">
        <img src="{% static 'images/icons/i_whatsapp.png' %}" alt="Whatsapp Icon">
      </a>
    </div>
    <div class="cell small-4 share-reveal__icon">
      <a href="tg://msg_url?url={{share_url}}&amp;text=text">
        <img src="{% static 'images/icons/i_telegram.png' %}" alt="Telegram Icon">
      </a>
    </div>
    <div class="cell small-4 share-reveal__icon">
      <img src="{% static 'images/icons/i_copy.svg' %}" alt="Copy Icon" onclick="shareLink();">
      <div id="link_copied" hidden>
        {% trans 'Link wurde kopiert' %}
      </div>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
