
{% load i18n %}

[e_metrobus]
  label = {% trans "Technik" %}
  icon = "images/icons/Icon_E_Bus_Front.svg"
  [[questions]]
    [[[loading_time]]]
      label = {% trans "Ladezeiten" %}
      question = {% trans "Wie lange müssen die E-Gelenkbusse der 200 an den Endhaltestellen laden?" %}
      answers = {% trans "Halbe Stunde" %}, {% trans "Eine Stunde" %}, {% trans "Wenige Minuten" %}, {% trans "Wenige Sekunden" %}
      correct = 2
      short_answer = {% trans "Die Ladezeiten betragen in der Regel wenige Minuten." %}
    [[[loading]]]
      label = {% trans "Ladevorgang" %}
      question = {% trans "Wie werden die E-Gelenkbusse auf der Linie 200 geladen?" %}
      answers = {% trans "Stecker von der Seite" %}, {% trans "Pantograph von oben" %}, {% trans "Berührungslos mittels Induktion von unten" %}, {% trans "Batterie wird gewechselt" %}
      correct = 1
      short_answer = {% trans "Der Bus wird an den Endhaltestellen Hertzallee und Michelangelostraße sowie im Betriebshof mit einem Pantographen aufgeladen." %}
    [[[batteries]]]
      label = {% trans "Batterien" %}
      question = {% trans "Wo befinden sich die Batterien der E-Gelenkbusse der Linie 200?" %}
      answers = {% trans "Im Boden" %}, {% trans "Am Heck" %}, {% trans "Auf dem Dach" %}, {% trans "An den Seiten" %}
      correct = 2
      short_answer = {% trans "Die Batterien der Elektro-Gelenkbusse, die auf der Linie 200 eingesetzt werden, sich auf dem Dach angebracht." %}
    [[[costs]]]
      label = {% trans "Kosten" %}
      question = {% trans "Wie viel mehr kostet ein E-Bus als ein konventioneller Diesel-Bus?" %}
      answers = {% trans "Doppelt" %}, {% trans "Dreifach" %}, {% trans "Zehnfach" %}, {% trans "Genauso" %}
      correct = 0
      short_answer = {% trans "E-Busse kosten aktuell noch etwa doppelt so viel wie konventionelle Diesel-Busse der gleichen Größenklasse." %}

[environment]
  label = {% trans "Umwelt" %}
  icon = "images/icons/i_earth_black.svg"
  [[questions]]
    [[[energy]]]
      label = {% trans "Energie" %}
      question = {% trans "Wieviel Energie ist für die jährliche Stromversorgung der E-Busse auf der Linie 200 notwendig?" %}
      answers = {% trans "2.044 MWh pro Jahr" %}, {% trans "500.000 kWh pro Jahr" %}, {% trans "1 MWh pro Jahr" %}, {% trans "530 MWh pro Jahr" %}
      correct = 0
      short_answer = {% trans "Der jährliche Stromverbrauch der gesamten Buslinie 200 mit allen im Betrieb befindlichen E-Bussen liegt bei etwa 2.044.000 kWh." %}
    [[[weather]]]
      label = {% trans "Wettereinfluss" %}
      question = {% trans "Welche Wetterbedingungen haben einen Einfluss auf die Nutzung des Pantographen (Ladung von oben) zur Ladung der E-Gelenkbusse?" %}
      answers = {% trans "Hitze" %}, {% trans "Schnee/Eis" %}, {% trans "Regen" %}, {% trans "Wind" %}, {% trans "Keine der genannten" %}
      correct = 4
      short_answer = {% trans "Der Betrieb des Pantographen ist weitgehend wetterunabhängig möglich." %}
    [[[reach]]]
      label = {% trans "Reichweite" %}
      question = {% trans "Die Reichweite aktueller Busse reicht noch nicht für die Elektrifizierung aller Linien in Berlin. Was sind geeignete technologische Ansätze für die Vollelektrifizierung?" %}
      answers = {% trans "Busse leichter machen" %}, {% trans "Verschiedene Ladestrategien im Mix (Depot- und Gelegenheitsladung)" %}, {% trans "Mehr Busse" %}, {% trans "Wasserstoff" %}, {% trans "Oberleitung (Hybrid-Oberleitungsbusse)" %}, {% trans "Förderung des motorisierten Individualverkehrs" %}
      correct = 1, 2, 3, 4
      short_answer = {% trans "Alle außer leichter machen" %}
    [[[windturbines]]]
      label = {% trans "Windräder" %}
      question = {% trans "Wie viele Windenergieanlagen sind bilanziell für den Betrieb der E-Gelenkbusse auf der Linie 200 im Jahr notwendig?" %}
      answers = "0,2", "1", "5", "20"
      correct = 0
      short_answer = {% trans "Es werden etwa 0,2 Windräder mit einer Leistung von je 3 MW benötigt, um die E-Busse der Linie rein aus Windstrom zu besorgen." %}

[politics]
  label = {% trans "Politk" %}
  icon = "images/icons/i_info_black.svg"
  [[questions]]
    [[[ebus_time]]]
      label = {% trans "Erster E-Bus" %}
      question = {% trans "Seit wann fahren Elektrobusse in Berlin?" %}
      answers = "2014", "2015", "2016", "2019"
      correct = 1
      short_answer = {% trans "Die erste Linie mit E-Bussen war im Jahr 2015 die Linie 204." %}
    [[[full_electrification]]]
      label = {% trans "Vollelektrifizierung" %}
      question = {% trans "Wie viele E-Busse werden für eine Vollelektrifizierung des Berliner Busnetzes erwartet?" %}
      answers = {% trans "Ca. 1000" %}, {% trans "Ca. 1450 (aktuelle Busflotte)" %}, {% trans "Ca. 1800" %}, {% trans "Ca. 2300" %}
      correct = 2
      short_answer = {% trans "Die geschätzte Anzahl liegt zwischen ca. 1700 und 1900 Bussen bei einer vollständigen Elektrifizierung." %}
    [[[schedule]]]
      label = {% trans "Zeitplan" %}
      question = {% trans "Bis wann sollen ausschließlich E-Busse auf Berlins Straßen fahren?" %}
      answers = "2025", "2030", "2050", "2080"
      correct = 1
      short_answer = {% trans "Berlins Mobilitätsgesetz, nach wie vor einzigartig in Deutschland, gibt in Berlin den Zeitrahmen für den vollständigen Umstieg von Diesel auf alternative Antriebe vor: Das entscheidende Jahr ist 2030." %}
    [[[neutral]]]
      label = {% trans "Klimaneutral" %}
      question = {% trans "Bis wann soll Berlin klimaneutral sein?" %}
      answers = "2025", "2030", "2050", "2080"
      correct = 2
      short_answer = {% trans "Bis 2050 will die Stadt klimaneutral werden und die Kohlendioxidemissionen um mindestens 85 % (bezogen auf 1990) reduzieren." %}

[personal]
  label = {% trans "Ich" %}
  icon = "images/icons/i_user_black.svg"
  [[questions]]
    [[[advantages]]]
      label = {% trans "Vorteile" %}
      question = {% trans "Was sind Vorteile einer elektrifizierten Buslinie? (Mehrfachauswahl noch nicht möglich)" %}
      answers = {% trans "Weniger CO<sub>2</sub>-Belastung" %}, {% trans "Weniger Lärmbelastung" %}, {% trans "Kürzere Fahrzeiten" %}, {% trans "Günstigere Fahrkarten" %}
      correct = 0
      short_answer = {% trans "Vorteile sind unte anderem eine geringere CO<sub>2</sub>- und Lärm-Belastung" %}
    [[[footprint]]]
      label = {% trans "Wahl des Verkehrsmittels" %}
      question = {% trans "Warum solltest auch du bei der Wahl deiner Verkehrsmittel auf den Umweltaspekt achten?" %}
      answers = {% trans "Energieeffizienz von Bussen" %}, {% trans "Individualverkehr ggü. ÖPNV" %}, {% trans "Volle Straßen" %}, {% trans "Egal" %}
      correct = 0, 1
      short_answer = {% trans "Vorteile sind unter anderem eine geringere CO<sub>2</sub>- und Lärmbelastung." %}
    [[[e_bus]]]
      label = {% trans "E-Bus" %}
      question = {% trans "Woran erkennt man einen E-Bus?" %}
      answers = {% trans "Der E-Bus produziert keine Abgase während des Fahrbetriebs." %}, {% trans "Der E-Bus hat einen sichtbaren Aufbau auf dem Dach." %}, {% trans "Der E-Bus ist leiser als ein konventioneller Bus." %}, {% trans "Der E-Bus ermöglicht kürzer Fahrzeiten." %}
      correct = 0, 1, 2
      short_answer = {% trans "Leider schaffen E-Busse noch keine Zeitreisen, die Fahrzeit wird also nicht kürzer. Aber alle anderen Antworten sind richtig." %}
    [[[lines]]]
      label = {% trans "E-Bus Linien" %}
      question = {% trans "Auf welchen Linien (neben der Linie 200) ist jetzt schon eine Fahrt mit einem E-Bus möglich?" %}
      answers = {% trans "Innenstadtlinien" %}, {% trans "Nachtlinien" %}, {% trans "Metrobus-Linien" %}, {% trans "Umland-Linien" %}
      correct = 0, 1
      short_answer = {% trans "Bis Ende 2020 wird die BVG insgesamt 120 Elektrobusse (von der Standard-Größe Eindecker) in ihrer Flotte haben. Diese sind zum Beispiel auf den Linien 142, 147, 155, 250, 294, N50 und 300 unterwegs." %}
