
{% load i18n %}

[e_metrobus]
  label = {% trans "Technik" %}
  icon = "images/icons/Icon_E_Bus_Front.svg"
  [[questions]]
    [[[loading_time]]]
      label = {% trans "Ladezeiten" %}
      question = {% trans "Wie lange müssen die Elektro-Gelenkbusse der 200 an den Endhaltestellen laden?" %}
      answers = {% trans "Eine halbe Stunde" %}, {% trans "Eine Stunde" %}, {% trans "Wenige Minuten" %}, {% trans "Wenige Sekunden" %}
      correct = 2
      short_answer = {% trans "Die Ladezeit beträgt in der Regel wenige Minuten." %}
    [[[loading]]]
      label = {% trans "Ladevorgang" %}
      question = {% trans "Wie werden die Elektro-Gelenkbusse auf der Linie 200 geladen?" %}
      answers = {% trans "Stecker von der Seite" %}, {% trans "Pantograph von oben" %}, {% trans "Berührungslos mittels Induktion von unten" %}, {% trans "Batterie wird gewechselt" %}
      correct = 1
      short_answer = {% trans "Der Bus wird an den Endhaltestellen Hertzallee und Michelangelostraße sowie im Betriebshof mit einem Pantographen aufgeladen." %}
    [[[batteries]]]
      label = {% trans "Batterien" %}
      question = {% trans "Wo befinden sich die Batterien der Elektro-Gelenkbusse der Linie 200?" %}
      answers = {% trans "Im Boden" %}, {% trans "Am Heck" %}, {% trans "Auf dem Dach" %}, {% trans "An den Seiten" %}
      correct = 2
      short_answer = {% trans "Die Batterien der Elektro-Gelenkbusse, die auf der Linie 200 eingesetzt werden, sich auf dem Dach angebracht." %}
    [[[costs]]]
      label = {% trans "Kosten" %}
      question = {% trans "Wie viel mehr kostet ein Elektrobus als ein konventioneller Dieselbus?" %}
      answers = {% trans "Doppelt" %}, {% trans "Dreifach" %}, {% trans "Zehnfach" %}, {% trans "Genauso" %}
      correct = 0
      short_answer = {% trans "Elektrobusse kosten aktuell noch etwa doppelt so viel wie konventionelle Dieselbusse der gleichen Größenklasse." %}

[environment]
  label = {% trans "Umwelt" %}
  icon = "images/icons/i_earth_black.svg"
  [[questions]]
    [[[energy]]]
      label = {% trans "Energie" %}
      question = {% trans "Wieviel Energie ist für die jährliche Stromversorgung der Elektrobusse auf der Linie 200 notwendig? So viel wie ausreichen würde zur Versorgung von:" %}
      answers = {% trans "584 Haushalten" %}, {% trans "56 Haushalten" %}, {% trans "285 Haushalten" %}, {% trans "1010 Haushalten" %}
      correct = 0
      short_answer = {% trans "Der jährliche Stromverbrauch der gesamten Buslinie 200 mit allen im Betrieb befindlichen Elektrobussen liegt bei etwa 2.044.000 kWh, was dem Energiebedarf von ca. 584 Dreipersonenhaushalten entspricht." %}
    [[[weather]]]
      label = {% trans "Wettereinfluss" %}
      question = {% trans "Welche Wetterbedingungen haben einen Einfluss auf die Nutzung des Pantographen (Ladung von oben) zur Ladung der Elektro-Gelenkbusse?" %}
      answers = {% trans "Hitze" %}, {% trans "Schnee/Eis" %}, {% trans "Regen" %}, {% trans "Wind" %}, {% trans "Keine der genannten" %}
      correct = 4
      short_answer = {% trans "Der Betrieb des Pantographen ist weitgehend wetterunabhängig möglich." %}
    [[[reach]]]
      label = {% trans "Reichweite" %}
      question = {% trans "Was sind geeignete technologische Ansätze für den lokal emissionsfreien Betrieb der Berliner Busflotte?" %}
      answers = {% trans "Busse leichter machen" %}, {% trans "Verschiedene Elektrobustypen im Mix (Elektrobusse mit Depot- und Gelegenheitsladung)" %}, {% trans "Mehr Busse" %}, {% trans "Wasserstoff-Brennstoffzelle" %}, {% trans "Oberleitung (Hybrid-Oberleitungsbusse)" %}, {% trans "Förderung des motorisierten Individualverkehrs" %}
      correct = 1, 2, 3, 4
      short_answer = {% trans "Der Umstieg des Busverkehrs von Diesel- auf lokal emissionsfreie und CO2-neutrale Busse als Maßnahme im Verkehr zur Erreichung der Luftreinhalte- und Klimaziele stellt die Verkehrsbetriebe vor große Herausforderungen. So stehen verschiedene lokal emissionsfreie Busse zur Verfügung, für die zuerst Infrastruktur aufgebaut werden muss." %}
    [[[windturbines]]]
      label = {% trans "Windräder" %}
      question = {% trans "Wie viele Windenergieanlagen sind bilanziell für den Betrieb der Elektro-Gelenkbusse auf der Linie 200 im Jahr notwendig?" %}
      answers = "0,2", "1", "10", "100"
      correct = 0
      short_answer = {% trans "Es werden etwa 0,2 Windräder mit einer Leistung von je 3 MW benötigt, um die Elektrobusse der Linie 200 rein aus Windstrom zu versorgen." %}

[politics]
  label = {% trans "Politk" %}
  icon = "images/icons/i_info_black.svg"
  [[questions]]
    [[[ebus_time]]]
      label = {% trans "Erster E-Bus" %}
      question = {% trans "Seit wann fahren Elektrobusse für die BVG in Berlin?" %}
      answers = "2014", "2015", "2016", "2019"
      correct = 1
      short_answer = {% trans "Die erste Linie mit Elektrobussen war im Jahr 2015 die Linie 204." %}
    [[[full_electrification]]]
      label = {% trans "Vollelektrifizierung" %}
      question = {% trans "Wie viele Elektrobusse werden für eine Vollelektrifizierung des Berliner Busnetzes erwartet?" %}
      answers = {% trans "Ca. 1000" %}, {% trans "Ca. 1450 (aktuelle Busflotte)" %}, {% trans "Ca. 1800" %}, {% trans "Ca. 2300" %}
      correct = 2
      short_answer = {% trans "Die geschätzte Anzahl liegt zwischen ca. 1700 und 1900 Bussen bei einer vollständigen Elektrifizierung." %}
    [[[schedule]]]
      label = {% trans "Zeitplan" %}
      question = {% trans "Bis wann sollen ausschließlich Elektrobusse auf Berlins Straßen fahren?" %}
      answers = "2025", "2030", "2050", "2080"
      correct = 1
      short_answer = {% trans "Berlins Mobilitätsgesetz, nach wie vor einzigartig in Deutschland, gibt in Berlin den Zeitrahmen für den vollständigen Umstieg von Diesel auf alternative Antriebe vor: Das entscheidende Jahr ist 2030. " %}
    [[[neutral]]]
      label = {% trans "Klimaneutral" %}
      question = {% trans "Bis wann soll Berlin klimaneutral sein?" %}
      answers = "2025", "2030", "2050", "2080"
      correct = 2
      short_answer = {% trans "Bis 2050 will die Stadt klimaneutral werden und die Kohlendioxidemissionen um mindestens 85 % (bezogen auf 1990) reduzieren." %}

[personal]
  label = {% trans "Ich" %}
  icon = "images/icons/i_user_black.svg"
  [[questions]]
    [[[advantages]]]
      label = {% trans "Vorteile" %}
      question = {% trans "Was sind Vorteile einer elektrifizierten Buslinie? " %}
      answers = {% trans "Weniger CO<sub>2</sub>-Belastung" %}, {% trans "Weniger Lärmbelastung" %}, {% trans "Kürzere Fahrzeiten" %}, {% trans "Günstigere Fahrkarten" %}, {% trans "Keine Belastung durch Stickoxide und Feinstaub" %}
      correct = 0
      short_answer = {% trans "Elektrobusse tragen zu einer lebenswerteren Stadt bei, weil sie lokal emissionsfrei sind und somit keine Stickoxide oder Feinstaub durch den Kraftstoffeinsatz ausstoßen. Auch verursachen Elektrobusse weniger CO2-Emissionen im Vergleich zu Dieselbussen." %}
    [[[footprint]]]
      label = {% trans "Wahl des Verkehrsmittels" %}
      question = {% trans "Für wie viel CO<sub>2</sub> ist jede*r Berliner*in statistisch pro Jahr verantwortlich?" %}
      answers = {% trans "0,5 Tonnen" %}, {% trans "4,8 Tonnen" %}, {% trans "8 Tonnen" %}, {% trans "2 Tonnen" %}
      correct = 0, 1
      short_answer = {% trans "Jede*r Berliner*in ist statistisch gesehen für 4,8 Tonnen CO<sub>2</sub> pro Jahr verantwortlich. " %}
    [[[e_bus]]]
      label = {% trans "E-Bus" %}
      question = {% trans "Woran erkennt man einen Elektrobus?" %}
      answers = {% trans "Der Elektrobus produziert keine Abgase während des Fahrbetriebs." %}, {% trans "Der Elektrobus hat einen sichtbaren Aufbau auf dem Dach." %}, {% trans "Der Elektrobus ist leiser als ein konventioneller Bus." %}, {% trans "Der Elektrobus ermöglicht kürzer Fahrzeiten." %}
      correct = 0, 1, 2
      short_answer = {% trans "Leider schaffen Elektrobusse noch keine Zeitreisen, die Fahrzeit wird also nicht kürzer. Aber alle anderen Antworten sind richtig." %}
    [[[lines]]]
      label = {% trans "E-Bus Linien" %}
      question = {% trans "Auf welchen Linien (neben der Linie 200) ist ebenfalls eine Fahrt mit einem Elektrobus möglich?" %}
      answers = {% trans "Linie 100" %}, {% trans "Linien M29 und M41" %}, {% trans "Linien 142, 147 und 300" %}, {% trans "Linie N2" %}
      correct = 2
      short_answer = {% trans "Bis Ende 2020 wird die BVG insgesamt 120 Elektrobusse (von der Standard-Größe Eindecker) in ihrer Flotte haben. Diese sind zum Beispiel auf den Linien 142, 147, 155, 250, 294, N50 und 300 unterwegs." %}
