
{% load i18n %}

[e_metrobus]
  label = {% trans "E-Metrobus" %}
  icon = "images/icons/Icon_E_Bus_Front.svg"
  [[questions]]
    [[[loading_time]]]
      label = {% trans "Ladezeiten" %}
      question = {% trans "Wie lange muss dieser Bus an der Endhaltestelle laden?" %}
      answers = {% trans "27-33 Minuten" %}, {% trans "1 Stunde" %}, {% trans "Wenige Minuten" %}, {% trans "30 Sekunden" %}
      correct = 2
      short_answer = {% trans "Der Bus muss nur wenige Minuten laden!" %}
    [[[line_200]]]
      label = {% trans "Linie 200" %}
      question = {% trans "Wann sollen E-Busse auf Linie 200 zum Einsatz kommen?" %}
      answers = "2020", "2021", "2022", "2025"
      correct = 0
      short_answer = {% trans "Linie 200 soll ab dem Jahr 2020 unterwegs sein!" %}
    [[[loading]]]
      label = {% trans "Ladevorgang" %}
      question = {% trans "Wie wird die Buslinie 200 geladen?" %}
      answers = {% trans "Stecker", "Pantograph", "Berührungslos mittels Induktion", "Batterie wird gewechselt" %}
      correct = 1
      short_answer = {% trans "Der Bus wird mittels eines Pantographen geladen" %}

[environment]
  label = {% trans "Umwelt" %}
  icon = "images/icons/i_earth_black.svg"
  [[questions]]
    [[[co2_reduction]]]
      label = {% trans "CO<sub>2</sub> Reduktion" %}
      question = {% trans "Wie viel CO<sub>2</sub> werden durch den Einsatz der Elektrobusse auf der Linie 200 jährlich eingespart?" %}
      answers = "444 t", "111 t", "759 kg", "50 t"
      correct = 0
      short_answer = {% trans "444 t CO<sub>2</sub> können durch die Elektrifizierung der Linie 200 pro Jahr eongespart werden" %}

[politics]
  label = {% trans "Politk" %}
  icon = "images/icons/i_info_black.svg"
  [[questions]]
    [[[ebus_time]]]
      label = {% trans "Erster E-Bus" %}
      question = {% trans "Seit wann fahren Elektrobusse in Berlin?" %}
      answers = "2014", "2015", "2016", "2019"
      correct = 1
      short_answer = {% trans "Die erste Linie mit E-Bussen war im Jahr 2015 die Linie 204." %}
    [[[full_electrification]]]
      label = {% trans "Vollelektrifizierung" %}
      question = {% trans "Wie viele E-Busse werden für eine Vollelektrifizierung des Berliner Busnetzes erwartet?" %}
      answers = {% trans "Ca. 1000" %}, {% trans "Ca. 1450 (aktuelle Busflotte)" %}, {% trans "Ca. 1800" %}, {% trans "Ca. 2300" %}
      correct = 2
      short_answer = {% trans "Die geschätzte Anzahl liegt zwischen ca. 1700 und 1900 Bussen bei einer vollständigen Elektrifizierung." %}
    [[[schedule]]]
      label = {% trans "Zeitplan" %}
      question = {% trans "Bis wann sollen ausschließlich E-Busse auf Berlins Straßen fahren?" %}
      answers = "2025", "2030", "2050", "2080"
      correct = 1
      short_answer = {% trans "Berlins Mobilitätsgesetz, nach wie vor einzigartig in Deutschland, gibt in Berlin den Zeitrahmen für den vollständigen Umstieg von Diesel auf alternative Antriebe vor: Das entscheidende Jahr ist 2030." %}
    [[[neutral]]]
      label = {% trans "Klimaneutral" %}
      question = {% trans "Bis wann soll Berlin klimaneutral sein?" %}
      answers = "2025", "2030", "2050", "2080"
      correct = 2
      short_answer = {% trans "Bis 2050 will die Stadt klimaneutral werden und die Kohlendioxidemissionen um mindestens 85 % (bezogen auf 1990) reduzieren." %}

[personal]
  label = {% trans "Ich" %}
  icon = "images/icons/i_user_black.svg"
  [[questions]]
    [[[advantages]]]
      label = {% trans "Vorteile" %}
      question = {% trans "Was sind Vorteile einer elektrifizierten Buslinie? (Mehrfachauswahl noch nicht möglich)" %}
      answers = {% trans "Weniger CO<sub>2</sub>-Belastung", "Weniger Lärmbelastung", "Kürzere Fahrzeiten", "Günstigere Fahrkarten" %}
      correct = 0
      short_answer = {% trans "Vorteile sind unte anderem eine geringere CO<sub>2</sub>- und Lärm-Belastung" %}
