
{% load i18n %}

<div class="long-answer">
    {% blocktrans %}
    Die Reduzierung der Schadstoffemissionen werden begleitet von weniger Lärm. Als Fahrgast profitierst du von einem deutlich ruhigeren Fahrerlebnis. Elektrische Busse sind vor allem beim Anfahren leiser als Dieselbusse und vibrieren weniger. Zur Erhöhung der Sicherheit für andere Verkehrsteilnehmer*innen ertönt beim Anfahren allerdings ein akustisches Signal mittels des AVAS (Acousitic Vehicle Alerting System). Als Anwohner*in der Buslinie 200 darfst du dich über eine erheblich geringere Abgasbelastung freuen.
    {% endblocktrans %}
</div>

