
{% load i18n %}

{% blocktrans %}
Elektrobusse tragen zu einer lebenswerteren Stadt bei, weil sie lokal emissionsfrei sind und somit keine Stickoxide oder Feinstaub durch den Kraftstoffeinsatz ausstoßen. Auch verursachen Elektrobusse weniger CO2-Emissionen im Vergleich zu Dieselbussen. 
Als Fahrgast profitieren Sie von einem deutlich ruhigeren Fahrerlebnis. Elektrische
Busse sind vor allem beim Anfahren leiser als Dieselbusse und vibrieren weniger. Zur Erhöhung der Sicherheit für andere Verkehrsteilnehmer*innen ertönt beim Anfahren allerdings ein akustisches Signal mittels des AVAS (Acousitic Vehicle Alerting System). Als Anwohner der Buslinie 200 dürfen Sie sich über eine erheblich geringere Abgasbelastung freuen.
{% endblocktrans %}
