
{% load i18n %}

<div class="long-answer">
    {% blocktrans %}
    Elektrobusse zeichnen sich durch ihr nahezu geräuschloses Anfahren aus. Zur Erhöhung der Sicherheit für andere Verkehrsteilnehmer*innen ertönt beim Anfahren ein akustisches Signal mittels des AVAS (Acousitic Vehicle Alerting System). Außerdem weisen die Fahrzeuge keinerlei schädliche Abgase im Fahrbetrieb auf. Dadurch wird die Luftqualität direkt um den Bus sowie für die gesamte Stadt besser, sehr zur Freude von Fahrradfahrenden und Fußgängern, die bisher immer durch die Abgas-Wolke der Dieselbusse beeinträchtigt wurden. Die auf der Linie 200 eingesetzten E-Gelenkbusse haben die Batterien auf dem Dach verbaut, wodurch deutlich mehr Aufbauten auf dem Dach der Busse zu erkennen sind als bei Dieselbussen, bei denen dort lediglich die Klimageräte angebracht sind. 
    {% endblocktrans %}
</div>
