
{% load i18n %}

{% blocktrans %}
Elektrobusse zeichnen sich durch ihr nahezu geräuschloses Anfahren aus. Zur Erhöhung der Sicherheit für andere Verkehrsteilnehmer*innen ertönt beim Anfahren ein akustisches Signal mittels des AVAS (Acousitic Vehicle Alerting System). und Außerdem zeichnen sich die Fahrzeuge durch die komplette Vermeidung von schädlichen Abgasen im Fahrbetrieb aus. Dadurch wird die Luftqualität direkt um den Bus (besonders zur Freude von Fahrradfahrenden und Fußgängern, die bisher immer durch die Abgas-Wolke der Dieselbusse beeinträchtigt wurden) sowie für die gesamte Stadt besser. Die auf der Linie 200 eingesetzten E-Gelenkbusse haben die Batterien auf dem Dach verbaut, wodurch deutlich mehr Aufbauten auf dem Dach der Busse zu erkennen sind als bei Dieselbussen, bei denen dort lediglich die Klimageräte angebracht sind. 
{% endblocktrans %}
