
{% load i18n %}

{% blocktrans %}
Die Elektrobusse wurden zunächst auf Innenstadtlinien eingesetzt. Seit 2020 sind aber auch mehr und mehr Elektrobusse in Pankow und Lichtenberg unterwegs. Bei der Linienauswahl wurden durch Luftverschmutzung betroffene Gebiete besonders berücksichtigt. Die Elektro-Eindecker auf diesen Linien sind für die Depotladung ausgelegt, d.h. sie laden meistens nur einmal täglich im Betriebshof ihre Batterien und haben keine Lademöglichkeiten auf der Strecke, wie bei den Elektro-Gelenkbussen der Linie 200. Dadurch sind diese Busse flexibel einsetzbar, haben aber eine begrenzte Reichweite. Die Elektrobusflotte ist auf den genannten Linien zur Zeit zum Teil noch abwechselnd im Mischverkehr mit konventionellen Dieselbussen unterwegs, der Einsatz der Elektrobusse wird sukzessive maximiert.
{% endblocktrans %}

