
{% load static %}
{% load i18n %}

{% blocktrans %}
Das Pilotprojekt mit 4 Prototypen vom Typ Solaris Urbino 12 electric mit Induktionsladetechnik wurde erfolgreich abgeschlossen und diese Busse sind nun nach Projektende nicht mehr im regulären Einsatz. Die Umstellung der BVG-Busse auf alternative Antriebe hat 2019 mit dem Betrieb von serienreifen Elektrobussen begonnen. Mit der Elektrifizierung der Linie 200 sind es derzeit 78 Elektrobusse bei der BVG. Bis Ende 2020 wird diese Zahl auf 138 Elektrobusse steigen. Die BVG verlässt sich bei der Elektrifizierung nicht nur auf eine Technologie, sondern bringt verschiedene Bustypen und Strategien zur Ladung (derzeit Depot- und Gelegenheitsladung) in den Linienbetrieb, weil das Berliner Busnetz unterschiedlichste Linientypen hat. Die Linien reichen von Kiezbuslinien bis hin zu stadtquerenden “Langläufer” mit einem hohen Fahrgastaufkommen.
{% endblocktrans %}

<img src="{% static 'images/questions/wagen_voll_geladen.jpg' %}" alt="{% trans 'Bild eines E-Busses mit der Aufschrift Hab den Wagen voll geladen' %}">
