
{% load static %}
{% load i18n %}

{% blocktrans %}
Berlin hat Klimaneutralität zu einem seiner Ziele für die Zukunft erklärt und dies entsprechend im Berliner Energiewendegesetz verbindlich festgelegt. Die öffentliche Hand will und muss mit gutem Beispiel vorangehen:  Zum Beispiel ist geplant, dass die Berliner Senats- und Bezirksverwaltungen ab 2030 CO2-neutral arbeiten, wobei unter anderem umfassende Gebäudesanierungen eine tragende Rolle spielen werden. So soll der Primärenergieverbrauch bis 2050 um 80 % gegenüber 2010 gesenkt werden.
{% endblocktrans %}
<a href="https://www.smart-city-berlin.de/news/newsdetail/co2-neutrale-stadt-musterschueler-berlin/">(www.smart-city-berlin.de)</a>

<img src="{% static 'images/questions/berlin_wind.svg' %}" alt="{% trans 'Stilisiertes Bild einer Windkraftanlage in Berlin' %}">
