{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="full reveal answer" id="answer" data-reveal>
  {% if answer %}
  <div class="cell">
    <div class="grid-x text-center">
      <div class="cell animate_answer__points">
        <div class="grid-x align-center">
          <div class="cell small-1 animate_answer__points--star">
            <img src="{% static 'images/icons/i_star_turkis.svg' %}" alt="star">
          </div>
          <div class="cell small-1 animate_answer__points--star">
            <span>{{points}}</span>
          </div>
        </div>
      </div>
      <div class="cell animate_answer__text">
        <span>RICHTIG!</span>
      </div>
      <div class="cell animate_answer__bus">
        <div class="grid-x">
          <div class="cell animate_answer__street"></div>
          <div class="cell animate_answer__city animate_answer__city--1"></div>
          <div class="cell animate_answer__city animate_answer__city--2"></div>
          <div class="cell animate_answer__bus--right">
            <img src="{% static 'images/icons/Icon_E_Bus_BVG.svg' %}" alt="bus_battery_full">
          </div>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <div class="cell">
    <div class="grid-x text-center">
      <div class="cell animate_answer__battery">
        <img src="{% static 'images/icons/battery_empty.svg' %}" alt="battery_empty">
      </div>
      <div class="cell animate_answer__text">
        <span>FALSCH...</span>
      </div>
      <div class="cell animate_answer__points animate_answer__points--wrong">
        <div class="grid-x align-center">
          <div class="cell small-1 animate_answer__points--star_wrong">
            <img src="{% static 'images/icons/i_star_black.svg' %}" alt="star">
          </div>
          <div class="cell small-1 animate_answer__points--star_wrong">
            <span>{{points}}</span>
          </div>
        </div>
      </div>
      <div class="cell animate_answer__bus animate_answer__bus--wrong">
        <img src="{% static 'images/icons/Icon_E_Bus_BVG_empty_battery.svg' %}" alt="bus_battery_empty">
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="cell">
  <div class="grid-x">
    <div class="cell small-11 medium-11 answer__text">
      {% trans question.short_answer %}
    </div>
    <div class="cell small-11 medium-11 answer__text answer__text--more" id="moreText" data-toggler data-animate="show">
      {% include question.template %}
    </div>
    <div class="cell text-center answer__readmore" id="moreTextToggler" data-closable>
      <a data-toggle="moreText" data-close>Mehr lesen<img src="{% static 'images/icons/ion_arrow_down.svg' %}" alt="arrow_down"></a>
    </div>
    <div class="cell text-center question__next">
      <a href="{% url 'navigation:question' question.category %}" class="button">Zur nächsten Frage</a>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{block.super}}

  <script>
    {% if answer != None %}
      $( document ).ready(function() {
        $('#answer').show();
        function hideReveal() {
          $('#answer').hide();
        }
        setTimeout(hideReveal, 3000);
      });
    {% endif %}
  </script>
{% endblock %}
