{% extends "base.html" %}

{% block content %}

<div class="full reveal answer" id="answer" data-reveal>
  {% if answer %}
    <div class="text-center answer answer__correct">
      <p>Richtig!</p>
      <img src="../../static/images/icons/noun_correct_1763707.svg" alt="correct_answer">
    </div>

  {% else %}
  <div class="text-center answer answer__wrong">
    <p>Falsch</p>
    <img src="../../static/images/icons/noun_Sad_white.svg" alt="correct_answer">
  </div>
  {% endif %}
</div>

{% include question_template %}
<div class="grid-x">
  <div class="cell text-center question__next">
    <a href="{% url 'navigation:question' category %}"><button class="btn">Zur nächsten Frage</button></a>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{block.super}}

  <script>
    $( document ).ready(function() {
      $('#answer').toggle();
      $('#answer').fadeToggle(4000);
    });
  </script>
{% endblock %}
