{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="cell">
  <div class="grid-x">
    <div class="cell small-11 medium-11 answer__text answer__text--top answer__text--correct a-answer-text-top">
      <div class="answer__text-icon">Korrekt</div>
      {% trans question.short_answer %}
    </div>
    <div class="cell small-11 medium-11 answer__text answer__text--more a-answer-text">
      {% include question.template %}
    </div>
    <div class="cell text-center question__next a-answer-btn">
      <a href="{% url 'navigation:question' question.category %}" class="button">{% trans "Zur nächsten Frage" %}</a>
    </div>
  </div>
</div>
{% endblock content %}
