
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load translation %}

{% block body_class %}class="l-scroll l-scroll--nonav"{% endblock %}

{% block content %}

<div class="category__bg"></div>


<div class="category-finished">
  <div class="a-category-finished">
    <div class="category-finished__text">{% blocktrans with cat_label=' <span id="cat_fin_name">{0}</span> '|format_text:category.get_label %}Kategorie {{cat_label}} abgeschlossen!{% endblocktrans %}</div>
    <img src="{% static category.icon %}">
  </div>
</div>
{% endblock %}


{% block javascript %}
  {{block.super}}
  <script>
    $( document ).ready(function() {
      function redirect_to_dashboard() {
        window.location.replace("{% url 'navigation:dashboard' %}");
      }
      $('#cat_fin').click(redirect_to_dashboard);
      setTimeout(redirect_to_dashboard, 3000);
    });
  </script>
{% endblock %}
