{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'CO<sub>2</sub> Emissionen im Vergleich' %}{% endblock %}

{% block body_class %}l-scroll l-scroll--nav l-scroll--nofooter{% endblock %}

{% block header %}
  <script src="{% static 'js/plotly.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="cell">
  <div class="grid-y comparison__wrap">

    <div class="cell comparison__chart">
      <div class="loader"></div>
    </div>

    <div class="cell comparison__btn">
      <div id="next">
        <div class="landing__bottom-btn comparison__btn--next">
          {% if first_time %}
            <a href="{% url 'navigation:tour' %}"><button id="animateComparisonBtn" class="button">{% trans "Mehr entdecken!" %}</button></a>
          {% else %}
            <a href="{% url 'navigation:dashboard' %}"><button id="animateComparisonBtn" class="button">{% trans "Mehr entdecken!" %}</button></a>
          {% endif %}
        </div>
      </div>
      <div class="text-center data-source-button" data-open="comparisonData">
        <button><img src="{% static 'images/icons/i_next_gray.svg' %}" alt="{% trans 'Zurück' %}">{% trans "Woher kommen die Zahlen?" %}</button> 
      </div>
    </div>

    <div class="data__source data__source--chart">
      <sup>*</sup> {% trans 'Wert berechnet sich auf Grundlage des deutschen Strommixes. Da der aktuelle Strommix nicht CO<sub>2</sub>-neutral ist, sind auch Elektrofahrzeuge für CO<sub>2</sub> Austoß verantwortlich.' %}
    </div>

  </div>
</div>

<div class="full reveal" id="comparisonData" data-reveal data-v-offset="0px">
  <p class="data__title">{% trans "Die Daten hinter den Zahlen" %}</p>
  {{info_table}}
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endblock %}

{% block javascript %}
  {{block.super}}
  <script>
    $.ajax({
      type: "GET",
      url: "/get_comparison_chart",
      dataType: 'json',
      data: {"route": "route", "emission": "co2"},
      success: function(json)
      {
        $(".comparison__chart").html(json.div);
        eval(json.script);
      }
    });
  </script>
{% endblock %}
