{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="cell">
  {{plotly.div|safe}}
</div>

<div class="cell text-center landpage__bottom" id="next" style="bottom:3.8rem">
  <div class="cell landing__bottom-btn">
    <a href="{% url 'navigation:dashboard' %}"><button class="button">{% trans "Mehr entdecken!" %}</button></a>
  </div>
</div>

<div class="cell text-center landpage__bottom" data-open="comparisonData" style="bottom:.8rem">
  <button class="data-source-button">Woher kommen die Zahlen?</button>
</div>

<div class="reveal" id="comparisonData" data-reveal>
  <p>Die Daten hinter der Zahlen</p>
  <div class="table-scroll">
    <table class="comparison-table scroll">
      <thead>
        <tr>
          <th>Table Header</th>
          <th>Table Header</th>
          <th>Table Header</th>
          <th>Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endblock %}

{% block javascript %}
  {{block.super}}
  <script>
    {{plotly.script|safe}}
  </script>
{% endblock %}
