{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block body_class %}l-scroll l-scroll--nav l-scroll--nofooter{% endblock %}
{% block main_class %}test{% endblock %}

{% block header %}
  <script src="{% static 'js/plotly.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="cell">
  {{plotly.div|safe}}
</div>

<div class="cell text-center" id="next">
  <div class="cell landing__bottom-btn comparison__btn">
    <a href="{% url 'navigation:dashboard' %}"><button id="animateComparisonBtn" class="button">{% trans "Mehr entdecken!" %}</button></a>
  </div>
</div>

<div class="cell text-center data-source-button" data-open="comparisonData">
  <button>Woher kommen die Zahlen?</button>
</div>

<div class="full reveal" id="comparisonData" data-reveal>
  <p class="data__title">Die Daten hinter der Zahlen</p>
  {{info_table}}
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endblock %}

{% block javascript %}
  {{block.super}}
  <script>
    {{plotly.script|safe}}
  </script>
{% endblock %}
