{% extends "base.html" %}

{% load static %}
{% load i18n %}

<!--#17BEBB-->

{% block content %}

<div class="cell dashboard">
  <div class="grid-x align-center align-middle text-center">
    {% for cat_name, category, ellipse in categories %}

          <div class="cell small-6 dashboard__category">
            <a href="{% url 'navigation:question' cat_name %}">
              <!-- Question 1/5 -->
              <svg viewBox="0 0 100 100" width="100%" height="100%">
                {% if ellipse.share == 1 %}
                  <ellipse cx="50" cy="50" rx="43%" ry="43%" style="fill:#FFF328;stroke:black;stroke-width:7%" />
                {% else %}
                  <ellipse cx="50" cy="50" rx="43%" ry="43%" style="fill:#FFF328;stroke:#EFEFEF;stroke-width:7%" />
                  <path d="{{ellipse}}" style="fill:rgba(0,0,0,0);stroke:#17BEBB;stroke-width: 7%;" />
                {% endif %}
              </svg>
              <div class="dashboard__img">
                <img src="{% static category.icon %}">
              </div>
            </a>
            <div class="dashboard__header">{% trans category.label %}</div>
          </div>
    {% endfor %}

    {% if first_time %}
      <div class="cell small-10 dashboard__info" data-closable>
        <p>{% trans "Hier kannst Du weiter entdecken und Spaß mit dem Quiz haben! Die erste Frage hast Du schon beantwortet!" %}</p>
        <button class="close-button" type="button" name="close-button" data-close>x</button>
      </div>
    {% endif %}
  </div>
</div>


{% endblock %}
