{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'Quiz Übersicht' %}{% endblock %}

{% block content %}
<div class="pattern-bg"></div>
<div class="cell dashboard">
  <div class="grid-x align-center align-middle text-center">
    {% for cat_name, category, answers in categories %}

      <div class="cell small-6 dashboard__category">
        <div class="dashboard__header">{{category.get_label}}</div>
        <a href="{% url 'navigation:question' cat_name %}">
          <!-- Question 1/5 -->
          <div class="dashboard__img">
            <img src="{% static category.icon %}" alt="{% trans 'Bild für Kategorie' %} {{category.get_label}}">
          </div>
        </a>
        <div class="flash-icons">
          {% for answer in answers %}
            <div class="flash-icons__item flash-icons__item--{{answer.value}}"></div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock %}
