{% extends "base.html" %}

{% load static %}
{% load i18n %}

<!--#17BEBB-->

{% block content %}
<div class="pattern-bg"></div>
<div class="cell dashboard">
  <div class="grid-x align-center align-middle text-center">
    {% for cat_name, category, ellipse_correct, ellipse_done in categories %}

          <div class="cell small-6 dashboard__category">
            <div class="dashboard__header">{{category.get_label}}</div>
            <a href="{% url 'navigation:question' cat_name %}">
              <!-- Question 1/5 -->
              <div class="dashboard__img">
                <img src="{% static category.icon %}">
              </div>
            </a>
          </div>
    {% endfor %}
  </div>
</div>



{% endblock %}
