{% extends "base.html" %}

{% block content %}

<div class="cell display-route" id="onboardingAnimate0">
  <div class="grid-x text-center align-center">
    <div class="cell display-route__start">
      Station 1
    </div>
    <div class="cell">
      <svg width="52" height="250">
        <circle cx="26" cy="6" r="6"/>
				<rect x="20" y="7" width="12" height="236" />
        <circle cx="26" cy="244" r="6"/>
        <circle cx="26" cy="6" r="4" fill="#fff"/>
        <circle cx="26" cy="244" r="4" fill="#fff"/>
        <rect x="20" y="105" width="20" height="2" style="fill:#FFF" />
        <rect x="20" y="115" width="20" height="4" style="fill:#FFF" />
        <rect x="20" y="125" width="20" height="10" style="fill:#FFF" />
        <rect x="20" y="141" width="20" height="4" style="fill:#FFF" />
        <rect x="20" y="153" width="20" height="2" style="fill:#FFF" />
        <polygon points="21,60 31,60 26,70" fill="#fff"/>
			</svg>
    </div>
    <div class="cell display-route__end">
      Station 2
    </div>
  </div>
</div>

<div class="cell display-route" id="onboardingAnimateBackground" style="display: none;">
  <div class="grid-x text-center align-center">
    <div class="cell display-route__wrap">
      <div class="display-route__text">
        <p class="display-route__sentence">Deine Strecke mit dem E-Bus beträgt</p>
        <p class="display-route__number">3,2 km</p>
      </div>
      <div class="display-route__circle">
        <svg viewBox="0 0 220 220">
          <circle cx="110" cy="110" r="80" style="fill:#F0D722" />
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="cell display-route" id="onboardingAnimate2" style="display: none;">
  Test 2
</div>


{% endblock %}
