{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="cell feedback">
  <div class="grid-x">
    <form method="post" class="feedback__form">
      {% csrf_token %}

      {{feedback}}

      <div class="cell feedback__btn">
        <div class="grid-x align-center text-center">
          <div class="cell">
            <button class="button--yellow" type="submit" style= "cursor:pointer">{% trans 'Meinung schicken' %}</button>
          </div>
          <div class="cell feedback__btn--skip">
            <button type="submit" name="skip" style= "cursor:pointer">{% trans 'Überspringen' %}</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}

{% block javascript %}
  {{block.super}}
  {{feedback.media}}
{% endblock %}
