
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load translation %}

{% block body_class %}class="l-scroll l-scroll--nonav"{% endblock %}

{% block content %}
<div class="cell"><a href="{% url 'navigation:dashboard' %}">{% trans 'Zurück zum Quiz' %}</a></div>
<div class="cell" id="confetti" xmlns="http://www.w3.org/1999/html"></div>
<div class="cell">
  <div class="grid-x text-center align-center">
    <div class="cell small-10 medium-6 quiz-fin__text">
      <p>{% blocktrans with score="<span>{}</span>"|format_text:points %}Glückwunsch!<br>Du hast das Quiz mit {{score}} Punkten abgeschlossen!{% endblocktrans %}</p>
    </div>
    <div class="cell quiz-fin__img">
      <img src="{% static 'images/icons/i_badge_yellow.svg' %}" alt="badge">
    </div>
    <div class="cell quiz-fin__bottom">
      <div class="grid-x">
        {% block share %}

        {% endblock %}
        <div class="cell">
          <form method="post">
              {% csrf_token %}
              <input type="submit" class="btn button" name="reset" value="{% trans 'Quiz neu starten' %}">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/confetti.js' %}"></script>
{% endblock %}
