
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load translation %}

{% block body_class %}class="l-scroll l-scroll--nonav"{% endblock %}

{% block content %}
<div class="cell"></div>
<div class="cell">
  <div class="grid-x text-center align-center">
    <div class="cell small-10 medium-6 quiz-fin__text">
      <p>{% blocktrans with score="<span>{}</span>"|format_text:points %}Glückwunsch!<br>Du hast das Quiz mit {{score}} Punkten abgeschlossen!{% endblocktrans %}</p>
    </div>
    <div class="cell quiz-fin__bottom">
      <div class="grid-x">
        {% block share %}

        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
