{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'Start' %}{% endblock %}

{% block body_class %}l-scroll l-scroll--nonav{% endblock %}

{% block content %}
  <div class="cell">
    <div class="grid-x align-center text-center landpage">
      <div class="cell landpage__button" {% if visited %}style="animation: none"{% endif %}>
        <div class="frame">
          <div id="animateLPText" class="landpage__button-text">
            <span>{% if non_bus_user %}{% trans 'Toll, dass du dich für den E-Bus interessierst!' %}{% else %}{% trans 'Toll, dass du mit einem E-Bus fährst!' %}{% endif %}</span>
          </div>
          <div class="landpage__skyline">
            <img src="{% static 'images/LP_Berlin_Skyline.svg' %}" alt="Brandenburger Tor, E-Bus und Fernsehturm">
          </div>
          <div id="animateLPText" class="landpage__button-text--small">
            <span>{% trans 'Wie viel CO2 spare ich mit diesem E-Bus?' %}</span>
          </div>
          <div class="landpage__button-btn">
            <a href="{% if non_bus_user %}{% url 'navigation:tour' %}{% else %}{% url 'navigation:route' %}{% endif %}"><button name="boarding" class="button a-lp-btn" {% if visited %}style="animation: none"{% endif %}>{% trans 'Berechnen' %}</button></a>
          </div>
        </div>
      </div>
      <div class="cell landpage__language">
        <div class="grid-x align-center text-center">
          <div class="cell landpage__language--switch" {% if visited %}style="animation: none"{% endif %}>
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "de" %}
              <a href="/en/{% if non_bus_user %}welcome/{% endif %}?visited" data-open="language_popup" onclick="send_posthog_event('english');">
                <img src="{% static 'images/icons/i_flag_uk.svg' %}" alt="uk_flag">
                <p>Switch to English</p>
              </a>
            {% else %}
              <a href="/{% if non_bus_user %}welcome/{% endif %}?visited" data-open="language_popup">
                <img src="{% static 'images/icons/i_flag_de.svg' %}" alt="uk_flag">
                <p>Zu Deutsch wechseln</p>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="cell landpage__bottom">
        <div class="grid-x">
          <div class="cell landpage__text" {% if visited %}style="animation: none"{% endif %}>
            <p>{% trans 'Die App ist Teil des Forschungsprojektes E-MetroBus der folgenden Partner:' %}</p>
          </div>
          <div class="cell small-4 landpage__logo landpage__logo--bvg" {% if visited %}style="animation: none"{% endif %}>
            <a href="https://www.bvg.de/de">
              <img src="{% static 'images/logos/BVG_Herz_Gelb_RGB.png' %}" alt="BVG Logo">
            </a>
          </div>
          <div class="cell small-4 landpage__logo landpage__logo--tu" {% if visited %}style="animation: none"{% endif %}>
            <a href="https://www.mpm.tu-berlin.de/menue/home/">
              <img src="{% static 'images/logos/TU-Berlin_logo.png' %}" alt="TU Berlin Logo">
            </a>
          </div>
          <div class="cell small-4 landpage__logo landpage__logo--rli" {% if visited %}style="animation: none"{% endif %}>
            <a href="https://reiner-lemoine-institut.de/">
              <img src="{% static 'images/logos/RLi_logo.png' %}" alt="RLI Logo">
            </a>
          </div>
          <div class="cell landpage__logo landpage__logo--bmwi" {% if visited %}style="animation: none"{% endif %}>
            <img src="{% static 'images/logos/Logokombi.jpg' %}" alt="{% trans 'Elektromobilität vor Ort, BMWI, NOW und PTJ Logo' %}">
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if not privacy_accepted %}
    <div class="privacypop pop" id="privacy_popup">
      <p>{% trans 'Hinweis: Unsere Website sammelt keine personenbezogenen Daten.' %}</p>
      <button id="pricacyButton" class="button button--small button--yellow close" onclick="privacy_policy_accepted();">{% trans 'Okay' %}</button>
    </div>
  {% endif %}
{% endblock content %}

{% block javascript %}
  {{block.super}}
  <script>
    function deselect(e) {
      $('.pop').slideFadeToggle(function() {
        e.removeClass('selected');
      });
    }

    $(function() {
      $('.close').on('click', function() {
        deselect($('#contact'));
        return false;
      });
    });

    $.fn.slideFadeToggle = function(easing, callback) {
      return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
    };

    function privacy_policy_accepted() {
      $.ajax({
        url: "/accept_privacy_policy/",
        dataType: "html"
      });
    }
  </script>
{% endblock javascript %}
