{% extends "base.html" %}

{% block body_class %}class="l-scroll l-scroll--nonav"{% endblock %}

{% block content %}
  <div class="cell">
    <div class="grid-x align-center">
      <div class="cell small-10 bus_icon">
        <img src="../../static/images/icons/Icon_E_Bus_BVG.svg">
      </div>
      <div class="cell small-4 logos">
        <img src="../../static/images/logos/Logo_BVG.png">
      </div>
      <div class="cell small-4 logos">
        <img src="../../static/images/logos/TU-Berlin_logo.png">
      </div>
      <div class="cell small-4 logos">
        <img src="../../static/images/logos/RLi_logo.png">
      </div>

    </div>
  </div>
{% endblock %}
