{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'Infos' %}{% endblock %}

{% block content %}
<div class="cell custom-tabs legal">
  <ul class="tabs custom-tabs__tabs" data-tabs id="question_tabs">
    <li class="tabs-title is-active"><a href="#partners" aria-selected="true">{% trans "Projektpartner" %}</a></li>
    <li class="tabs-title"><a href="#feedback" aria-selected="true">{% trans "Feedback geben" %}</a></li>
    <li class="tabs-title tabs-title--33-width"><a href="#data" aria-selected="true" onclick="send_posthog_event('sources');">{% trans "Quellen" %}</a></li>
    <li class="tabs-title tabs-title--33-width"><a href="#mobile-imprint" aria-selected="true">{% trans "Impressum" %}</a></li>
    <li class="tabs-title tabs-title--33-width"><a href="#mobile-privacy" aria-selected="true">{% trans "Datenschutz" %}</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="question_tabs">
    <div class="tabs-panel is-active" id="partners">
      <div class="grid-x text-center">
        <div class="cell legal__logo">
          <img src="{% static 'images/logos/Logokombi.jpg' %}" alt="Elektromobilität vor Ort, BMWI, NOW und PTJ Logo">
        </div> 
      </div>
    </div>

    <div class="tabs-panel" id="data">
      {{info_table}}
    </div>

    <div class="tabs-panel" id="feedback">
      <div class="cell feedback">
        <div class="grid-x">
          <form method="post" class="feedback__form">
            {% csrf_token %}

            {{feedback}}
            <input type="hidden" name="feedback">
            <div class="cell feedback__btn">
              <div class="grid-x align-center text-center">
                <div class="cell">
                  <button class="button--yellow" type="submit" style= "cursor:pointer">{% trans 'Meinung schicken' %}</button>
                  <a data-open="bug_reveal" class="feedback__bug-link"><img src="{% static 'images/icons/i_next_black_large.svg' %}" alt="Bug melden">{% trans 'Fehler melden' %}</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="reveal" id="bug_reveal" data-reveal data-v-offset="0px">
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="cell bug__question">
          <p>{% trans 'Hast du ein Bug oder inhaltliche Fehler gefunden? Dann melde dich gerne bei uns!' %}</p>
        </div>

        <div class="cell bug__form">
          <div class="grid-x">
            <form method="post" class="feedback__form">
              {% csrf_token %}
              {{bug}}
              <input type="hidden" name="bug">
              <div class="cell">
                <div class="grid-x align-center text-center">
                  <div class="cell">
                    <button class="button" type="submit" style= "cursor:pointer">{% trans 'Senden' %}</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs-panel" id="mobile-imprint">
      <p>Dieses digitale Angebot wird im Rahmen des Forschungsprojekts „E-Metrobus“ (gefördert im Rahmen der Förderrichtlinie Elektromobilität des Bundesministeriums für Verkehr und digitale Infrastruktur) herausgegeben und betrieben von:</p>
      <p>
        Reiner Lemoine Institut gGmbH<br>
        Rudower Chaussee 12<br>
        12489 Berlin
      </p>
      <p>
        Telefon +49 (0)30 1208 434 0<br>
        Fax +49 (0)30 1208 434 99
      </p>
      <p>
        Geschäftsführung:<br>
        Dr. Kathrin Goldammer 
      </p>
      <p>
        Handelsregister Berlin – HRB 124659 B
      </p>
      <p>
        Steuernummer: 27/602/55211
      </p>
      <p>
        USt-IdNr.: DE274491408
      </p>
    </div>
    
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{block.super}}
  <script>
    var descriptions = {{bug.descriptions}};
    $("#id_description").attr("placeholder", descriptions["technical"]);

    $("#id_type").change(function() {
      type = $(this).val();
      $("#id_description").attr("placeholder", descriptions[type]);
    });

  </script>
{% endblock javascript %}
