{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="grid-container">
  <div class="grid-x text-center">
    <div class="cell legal__header">
      <span>{% trans "Legale Informationen" %}</span>
    </div>
    <div class="cell legal__logo">
      <img src="{% static 'images/logos/Logo_Nationale_Organisation_Wasserstoff-_und_Brennstoffzellentechnologie.svg.png' %}" alt="NOW GmbH Logo">
    </div>
    <div class="cell legal__logo">
      <img src="{% static 'images/logos/Bundesministerium_für_Verkehr_und_digitale_Infrastruktur_Logo.svg.png' %}" alt="BMVI Logo">
    </div>
    <div class="cell legal__logo">
      <img src="{% static 'images/logos/ptj_logo.jpg' %}" alt="PTJ Jülich Logo">
    </div>
    <div class="cell legal__header legal__header--data">
      <span>Daten</span>
    </div>
  </div>
  <div class="cell table-scroll">
    <table class="comparison-table scroll">
      <thead>
        <tr>
          <th>Table Header</th>
          <th>Table Header</th>
          <th>Table Header</th>
          <th>Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
