
{% extends "base.html" %}

{% block content %}
<div class="cell project">
  <ul class="tabs project__tabs" data-tabs id="question_tabs">
    {% for cat_name, category in categories.items %}
      <li class="tabs-title{% if forloop.first %} is-active{% endif %}"><a href="#{{cat_name}}" aria-selected="true">{{category.get_label}}</a></li>
    {% endfor %}
  </ul>
  <div class="tabs-content" data-tabs-content="question_tabs">
    {% for cat_name, category in categories.items %}
      <div class="tabs-panel is-active" id="{{cat_name}}">
        {% for q_name, question in category.questions.items %}
            {% if q_name != "route" %}
              <div class="questionstext__questlabel"><h3>{{question.get_label}}</h3></div>
              <div class="project__question">
                {% include question.template %}
              </div>
            {% endif %}
          {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
