
{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'Frage' %}{% endblock %}

{% block content %}
<div class="cell question {% if question.is_multiple_choice %}question__multiple-choice{% endif %}">
  <form method="post" action="{% url 'navigation:question' category=question.category %}" id="question">
    <input type="hidden" name="question" value="{{question.name}}">
    <div class="grid-x align-center">
      <div class="cell top-flash">
        {% for answer in answers %}
          {% with "images/icons/i_flash_"|add:answer.value|add:".svg" as flash %}
            <img src="{% static flash %}" alt="">
          {% endwith %}
        {% endfor %}
      </div>
      <div class="cell question__text">
        {% csrf_token %}
        <h2>{% trans question.question %}</h2>
        {% if question.is_multiple_choice %}
          <span class="question__hint">({% trans 'Mehrere Antworten möglich' %})</span>
        {% endif %}
      </div>
      <div class="cell question__answer">
        <fieldset name="answer">
          <legend hidden>{% trans 'Antwortmöglichkeiten' %}</legend>
          {% for answer in question.answers %}
            {% if question.is_multiple_choice %}
              <input type="checkbox" class="checkbox" name="answer" value="{{forloop.counter0}}" id="answer{{forloop.counter}}"/>
            {% else %}
              <input type="radio" class="radio" name="answer" value="{{forloop.counter0}}" id="answer{{forloop.counter}}"/>
            {% endif %}
            <label for="answer{{forloop.counter}}">{% trans answer %}</label>
          {% endfor %}
        </fieldset>
      </div>
      {% if question.is_multiple_choice %}
      <div class="cell text-center question__btn">
        <input class="button" type="submit" value="{% trans 'Antworten' %}">
      </div>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
  {{block.super}}
  <script>
    $(".radio").change(function() {
      setTimeout(
        function () {
          $("#question").submit();
        },
        300
      );
    });
    $(".checkbox").change(function() {
      if ($('fieldset[name="answer"] input:checked').length > 0) {
        $(".question__btn").addClass("answer--ready");
      } else {
        $(".question__btn").removeClass("answer--ready");
      };
    });
  </script>
{% endblock %}
