
{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="cell progress-bar">
  <div class="progress-bar__fill" style="width: {{category_percentage}}%;"></div>
</div>
<div class="cell question">
  <form method="post" action="{% url 'navigation:answer' %}" id="question">
    <input type="hidden" name="question" value="{{question.name}}">
    <div class="grid-x align-center">
      <div class="cell small-10 question__text">
        {% csrf_token %}
        <h2>{% trans question.question %}</h2>
        Multiple-Choice: {{question.is_multiple_choice}}
      </div>
      <div class="cell small-10 question__answer">
        <fieldset name="answer">
          {% for answer in question.answers %}
            <input type="radio" class="radio" name="answer" value="{{answer}}" id="answer{{forloop.counter}}"/>
            <label for="answer{{forloop.counter}}">{% trans answer %}</label>
          {% endfor %}
        </fieldset>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block javascript %}
  {{block.super}}
  <script>
    $(".radio").change(function() {
      $("#answer").addClass("answer--ready");
      setTimeout(
        function () {
          $("#question").submit();
        },
        300
      );
    });
  </script>
{% endblock %}
