
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load translation %}

{% block body_class %}class="l-scroll l-scroll--nonav"{% endblock %}

{% block content %}
<div class="cell" id="confetti" xmlns="http://www.w3.org/1999/html"></div>
<div class="cell">
  <div class="grid-x text-center align-center">
    <div class="cell small-8 quiz-fin__text">
      <p>{% blocktrans with score="<span>{}</span>"|format_text:points %}Glückwunsch! Du hast das Quiz mit {{score}} Punkten abgeschlossen!{% endblocktrans %}</p>
    </div>
    <div class="cell quiz-fin__img">
      <img src="{% static 'images/icons/i_badge_yellow.svg' %}" alt="badge">
    </div>
    <div class="cell quiz-fin__bottom">
      <div class="grid-x">
        <div class="cell">
          {% if show_link %}
            {% if hash %}
            <input type="submit" class="btn button button--yellow" value="{% trans 'Ergebnis teilen' %}" data-open="share-reveal">
            <div class="reveal" id="share-reveal" data-reveal>
              <div class="grid-x share-reveal" id="share-buttons">
                <div class="cell share-reveal__title">
                  <span>Ergebnisse teilen</span>
                </div>
                <div class="cell small-4 share-reveal__icon">
                  <a href="http://www.facebook.com/sharer.php?u={{request.scheme}}://{{request.get_host}}{% url 'navigation:score' hash=hash %}" target="_blank">
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook Icon" />
                  </a>
                </div>
                <div class="cell small-4 share-reveal__icon">
                  <a href="whatsapp://send?text=text%20{{request.scheme}}://{{request.get_host}}{% url 'navigation:score' hash=hash %}">
                    <img src="{% static 'images/icons/i_whatsapp.png' %}" alt="Whatsapp Icon">
                  </a>
                </div>
                <div class="cell small-4 share-reveal__icon">
                  <a href="tg://msg_url?url={{request.scheme}}://{{request.get_host}}{% url 'navigation:score' hash=hash %}&amp;text=text">
                    <img src="{% static 'images/icons/i_telegram.png' %}" alt="Telegram Icon">
                  </a>
                </div>
                <div class="cell small-4 share-reveal__icon">
                  <a href="" target="_blank">
                    <img src="{% static 'images/icons/i_copy.svg' %}" alt="Copy Icon">
                  </a>
                </div>
              </div>
              <input id="share_input" type="text" value="{{request.scheme}}://{{request.get_host}}{% url 'navigation:score' hash=hash %}"><button class="btn button button--yellow button--margin-small" onclick="shareLink();">{% trans "Ergebnis teilen" %}</button>
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% else %}
              <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn button button--yellow" value="{% trans 'Ergebnis teilen' %}">
              </form>
            {% endif %}
          {% endif %}
        </div>
        <div class="cell">
          <form method="post">
              {% csrf_token %}
              <input type="submit" class="btn button" name="reset" value="{% trans 'Quiz neu starten' %}">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/confetti.js' %}"></script>
  <script>
    {% if feedback_given is False %}
      setTimeout(
        function () {
          window.location.replace("{% url 'navigation:feedback' %}");
        },
        2000
      );
    {% endif %}

    function shareLink() {
      shareLink = $("#share_input");
      shareLink.select();
      document.execCommand("copy");
    }
  </script>
{% endblock %}
