
{% extends "base.html" %}

{% block body_class %}class="l-scroll l-scroll--nonav"{% endblock %}

{% block content %}

<div class="route-drop">
  <div class="grid-x route-drop__top">
  </div>
  <div class="grid-x route-drop__main">
    top
  </div>
  <div class="grid-x route-drop__bottom">
    <div class="cell landing__bottom-btn">
      <a href=""><button class="button">Bestätigen</button></a>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
  {{block.super}}
  {{stations.media}}
{% endblock %}
