
{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block subtitle %} - {% trans 'Deine Strecke' %}{% endblock %}

{% block body_class %}class="l-scroll l-scroll--nonav"{% endblock %}

{% block content %}

<form id="stations_form" method="post" class="route-drop">
  {% csrf_token %}
  <div class="grid-x route-drop__top">
  </div>
  <div class="grid-x route-drop__main">
    <div class="route-drop__question route-drop__question--start">
      <div class="route-drop__question--icon">
        <img src="{% static 'images/icons/Icon_Circle.svg' %}" alt="icon">
      </div>
      <div class="route-drop__question--text">
        <label for="stationStart">{% trans 'Wo bist du eingestiegen?' %}</label>
      </div>
      <div class="route-drop__dropdown">
        <select id="stationStart" name="stationStart">
          {% for station in stations %}
            <option value="{{station}}">{{station}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="route-drop__dotted-line"></div>
    <div class="route-drop__question route-drop__question--end">
      <div class="route-drop__question--icon">
        <img src="{% static 'images/icons/Icon_Pin.svg' %}" alt="icon">
      </div>
      <div class="route-drop__question--text">
        <label for="stationEnd">{% trans 'Wo steigst du aus?' %}</label>
      </div>
      <div class="route-drop__dropdown">
        <select id="stationEnd" name="stationEnd">
          {% for station in stations %}
            <option value="{{station}}">{{station}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="grid-x route-drop__bottom">
    <div class="cell landing__bottom-btn">
      <button class="button">{% trans "Strecke bestätigen" %}</button>
    </div>
  </div>
</form>

<div class="tiny reveal" id="same_stations" data-reveal>
  <img class="same-stations__img" src="{% static 'images/Icon_E_Bus_BVG_error.svg' %}" alt="{% trans 'Bus ohne Strom' %}">
  <p class="same-stations__text">{% trans 'Ups!' %}</p>
  {% trans 'Ein- und Ausstieg müssen verschieden sein.' %}
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endblock %}

{% block javascript %}
  {{block.super}}
  <script>
    $('#stations_form').submit(function(e){
      if ($("#stationStart").val() == $("#stationEnd").val()) {
        e.preventDefault();
        $('#same_stations').foundation('open');
      }
    });
  </script>
{% endblock %}
