
{% extends "base.html" %}

{% block body_class %}l-scroll l-scroll--nonav l-scroll--nofooter{% endblock %}

{% block content %}

<div class="pattern-bg--blue"></div>
<div class="tour">

  <div class="cell tour__text">
    <p>Du weißt jetzt, wie viel CO2 du auf dieser Strecke sparst!</p>
  </div>

  <div class="cell tour__features">
    <div class="grid-x">
      <div class="cell">
        <p class="tour__text--small">Jetzt kannst du...</p>
      </div>
      <div class="cell small-2 tour__icon">
        <img src="/static/images/icons/i_quiz_black.svg" alt="Quiz">
      </div>
      <div class="cell small-10 tour__feature">
        <p>... deine Kenntnisse über E-Mobilität mit einem Quiz testen!</p>
      </div>
      <div class="cell small-2 tour__icon">
        <img src="/static/images/icons/i_pin_black.svg" alt="Pin">
      </div>
      <div class="cell small-10 tour__feature">
        <p>... noch mehr Daten zu deiner Strecke und der Umwelt-Bilanz lesen</p>
      </div>
      <div class="cell small-2 tour__icon">
        <img src="/static/images/icons/i_flash_black.svg" alt="Blitz">
      </div>
      <div class="cell small-10 tour__feature">
        <p>... über das E-MetroBus Projekt erfahren</p>
      </div>
    </div>
  </div>

  <div class="cell tour__btn">
    <a href=""><button id="" name="" class="button button--yellow">Alles klar!</button></a>
  </div>
</div>

{% endblock %}

