{% extends "base.html" %}

{% block content %}
<div class="cell">
  <div class="grid-x text-center">
    <div class="cell animate_answer__battery">
      <img src="../../static/images/icons/battery_empty.svg" alt="battery_empty">
    </div>
    <div class="cell animate_answer__text">
      <span>FALSCH...</span>
    </div>
    <div class="cell animate_answer__bus">
      <img src="../../static/images/icons/Icon_E_Bus_BVG_empty_battery.svg" alt="bus_battery_empty">
    </div>
  </div>
</div>
{% endblock %}s
